</td>
</tr>
<tr>
  <td colspan="3" height="40"></td>
</tr>
<tr>
  <td colspan="3" align="center">
    <table width="100%">
      <tr>
        <td></td>
        <td width="200">
          <a href="{{config.host.website}}?{{@root.utm}}">
            <img width="220" height="28" src="{{config.host.website}}/static/images/email/logo-email-footer@2x.png" />
          </a>
        </td>
        <td></td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td colspan="3" align="center" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:12px;color:#999;">
    We can do great things together<br /><br />
    For questions or feedback just reply to this email.<br />
    {{#if notificationTypeLabel}}
    To unsubscribe from {{notificationTypeLabel}}, <a href="{{unsubscribeUrl}}">click here</a><br /><br />
    {{/if}}

    You can also follow us on <a href="https://twitter.com/OpenCollect">Twitter</a> or come chat with us on our public
    <a href="https://slack.opencollective.com?{{@root.utm}}">Slack channel</a>.
    <br /><br />
    Made with ❤️ in Berlin, Brussels, Guadalajara, NYC and Paris
  </td>
</tr>
<tr>
  <td colspan="3" height="10"></td>
</tr>
</table><!-- 600px width content table -->

<!--[if (gte mso 9)|(IE)]>
  </td></tr></table>
<![endif]-->

</td>
</tr>
</table><!-- 100% width table -->
<!-- OpenCollective.com -->
</body>

</html>