<style>

  .Subscription {
    max-width: 500px;
    border-radius: 8px;
    background-color: #fafcfd;
    border: solid 1px #d5d7d9;
    margin-bottom: 32px;
    overflow: hidden;
    padding: 12px;
  }
  .Subscription .CollectiveCard {
    float: right;
    margin: 0!important;
    display: none !important;
  }
  .CollectiveMission {
    display: block !important;
    margin-bottom: 10px;
  }
  @media(min-width: 400px) {
    .CollectiveMission, .Subscription .CollectiveCard {
      display: block !important;
    }
    .CollectiveMission {
      display: none !important;
    }
  }
  .Subscription:last-child {
    margin-bottom: 0; 
  }
  .Statistics b {
    clear: both;
    display: block;
    font-family: Helvetica;
    font-size: 10px;
    font-weight: bold;
    color: #494b4d;
    margin-bottom: 8px;
  }
  .Subscription h1 {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    color: #494b4d;
    margin-bottom: -4px;
  }
  .Subscription .Links a {
    font-family: Helvetica;
    font-size: 10px;
    color: #3a9fe8;
  }
  .Subscription .Links span {
    font-size: 10px;
  }
  .Subscription p {
    font-family: Helvetica;
    font-size: 12px;
    line-height: 1.25;
    color: #6d7073;
    margin-right: 10px;
    margin: 0;
  }
  .Subscription .Statistic {
    margin: 8px 0 16px 0;
  }
  .Statistic .Amount, .Statistic .Change {
    float: left;
  }
  .Statistic .Amount {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #46b0ed;
    border-right: 1px solid #d5d7d9;
    padding-right: 8px;
    margin-right: 8px;
  }
  .PositiveChange {
    font-family: Helvetica;
    font-size: 11px;
    font-weight: bold;
    color: #59b300;
    margin-bottom: 2px;
  }
  .NegativeChange {
    font-family: Helvetica;
    font-size: 11px;
    font-weight: bold;
    color: #d0021b;
  }
  label {
    font-weight: bold;
    font-family: Helvetica;
    font-size: 12px;
  }
  ul {
    font-family: Helvetica;
    font-size: 12px;
    padding: 0 0px;
    margin: 8px 0;
    list-style: none;
  }
  li {
    margin: 4px 0;
  }
  p.noExpense {
    margin: 4px 0;
  }
</style>

<table border=0 width="100%" class="Subscription">
  <tr>
    <td valign="top" width="100%">
      <table>
        <tr>
          <td><h1>{{name}}</h1></td>
        </tr>
        <tr>
          <td>
            <div class="Links">
              {{#if website}}
              <a href="{{website}}">Website</a>
              <span> | </span>
              {{/if}}
              <a href="{{@root.config.host.website}}/{{slug}}?{{@root.utm}}">Open Collective Page</a>
            </div>
          </td>
        </tr>
        <tr><td height="10"></td></tr>
        <tr>
          <td><p class="CollectiveMission">{{mission}}</p></td>
        </tr>
        <tr>
          {{#if order.Subscription}}
            <td><p>You’re contributing <b>{{{currency order.Subscription.amount currency=order.Subscription.currency}}}</b> per {{order.Subscription.interval}} since {{{moment order.Subscription.createdAt format="MMMM YYYY"}}}</p></td>
          {{else}}
            <td><p>You've contributed <b>{{{order.totalAmount}}}</b></p></td>
          {{/if}}
        </tr>
        <tr><td height="10"></td></tr>
        {{#if updates}}
          <tr>
            <td>
              <label>Latest {{{pluralize "update" n=updates.length}}}:</label>
              <ul>
              {{#each updates}}
                <li>{{{moment publishedAt timezone=timezone format="MM/DD"}}}
                  <a href="{{config.host.website}}/{{../slug}}/updates/{{slug}}">{{title}}</a><br />
                </li>
              {{/each}}
              </ul>
            </td>
          </tr>
          <tr><td height="5"></td></tr>
        {{/if}}

        {{#if events.upcoming}}
          <tr>
            <td>
              <label>Upcoming {{{pluralize "event" n=events.upcoming.length}}}:</label>
              <ul>
              {{#each events.upcoming}}
                <li>{{{moment startsAt timezone=timezone format="MMMM Do HH:mm"}}} @ {{locationName}}<br />
                <a href="{{config.host.website}}/{{../slug}}/events/{{slug}}">{{name}}</a><br />
                RSVPs: {{stats.confirmed}} {{#if stats.interested}}(+{{stats.interested}} interested){{/if}}</li>
              {{/each}}
              </ul>
            </td>
          </tr>
          <tr><td height="5"></td></tr>
        {{/if}}

        {{#if events.past}}
          <tr>
            <td>
              <label>Past {{{pluralize "event" n=events.past.length}}}:</label>
              <ul>
              {{#each events.past}}
                <li>{{{moment startsAt timezone=timezone format="MMMM Do HH:mm"}}} @ {{locationName}}<br />
                <a href="{{config.host.website}}/{{../slug}}/events/{{slug}}">{{name}}</a><br />
                RSVPs: {{stats.confirmed}} {{#if stats.interested}}(+{{stats.interested}} interested){{/if}}</li>
              {{/each}}
              </ul>
            </td>
          </tr>
          <tr><td height="5"></td></tr>
        {{/if}}
        <tr>
          <td>
            <div class="currentBalance">
              <label>Current balance:</label> 
              <div class="Statistic">
                <div class="Amount">{{{currency stats.balance currency=currency}}}</div>
                <div class="Change">
                  {{#if stats.totalDonations}}
                  <div class="PositiveChange">+&nbsp;{{{currency stats.totalDonations currency=currency}}}</div>
                  {{/if}}
                  {{#if stats.totalPaidExpenses}}
                  <div class="NegativeChange">-&nbsp;{{{currency stats.totalPaidExpenses currency=currency}}}</div>
                  {{/if}}
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr><td height="10"></td></tr>

        {{#if nextGoal}}
          <tr>
            <td>
              <label>Next goal: {{{currency nextGoal.amount currency=currency}}}{{#if nextGoal.interval}}/{{nextGoal.interval}}{{/if}}</label>
                <p>
                  {{nextGoal.title}}<br />
                  ({{nextGoal.percentage}} - missing {{{currency nextGoal.missing.amount currency=currency}}}{{#if nextGoal.missing.interval}}/{{nextGoal.missing.interval}}{{/if}})
                  (<a href="https://twitter.com/intent/tweet?text={{{encodeURIComponent nextGoal.tweet}}}">share their goal</a>)
                </p>
            </td>
          </tr>
          <tr><td height="5"></td></tr>
        {{/if}}

        <tr>
          <td>
            <div class="latestExpenses">
              <label>Latest {{{pluralize "expense" n=expenses.length}}}:</label>
              {{#if expenses.length}}
                <ul>
                {{#each expenses}}
                <li>{{{moment createdAt format="MM/DD"}}} {{{currency amount currency=../currency}}} {{description}} {{status}}</li>
                {{/each}}
                </ul>
              {{else}}
              <p class="noExpense">No expense filed this month.</p>
              {{/if}}
              <p><a href="{{@root.config.host.website}}/{{slug}}/expenses">View all past expenses</a></p>
            </div>
          </td>
        </tr>
      </table>

    </td>
    <td valign="top">
      {{> collectivecard .}}
    </td>
  </tr>
</table>