<style>
.CollectiveCards {
  overflow: hidden;
}  
.CollectiveCard {
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 170px;
  height: 265px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(45, 77, 97, 0.2);
  margin: 0px 6px 8px 2px;
  float: left;
  overflow: hidden;
  text-decoration: none !important;
}
.CollectiveCard-head {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100px;
  border-bottom: 3px solid #46b0ed;
  background-size: cover;
  background-position: center;
}
.CollectiveCard-head img {
  height: 55%;
  margin: 25px auto;
}
.CollectiveCard-name, .CollectiveCard-description {
  overflow: hidden;
  text-overflow: ellipsis;
}
.CollectiveCard-name {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #303233;
  margin: 10px 5px;
  white-space: nowrap;
}
.CollectiveCard-description {
  height: 50px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.44;
  text-align: center;
  color: #787d80;
  margin: 0 5px;
}
.CollectiveCard-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  border-top: 1px solid #f2f2f2;
}
.CollectiveCard-metric {
  float: left;
  width: 50%;
  margin: 9px 0px;
}
.CollectiveCard-metric-value {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #303233;
}
.CollectiveCard-metric-label {
  font-size: 8.5px;
  text-align: center;
  margin: 1px;
  color: #a8afb3;
  text-transform: uppercase;
}

.tdline {
  border-bottom: 1px solid #7A7B82;
  width: 40%;
  height: 20px;
}

th {
  padding: 10px;
  font-weight: normal;
  font-size: 14px;
  color: #7A7B82;
  vertical-align: top;
}
</style>

{{#if relatedGroups.length}}
<table width="100%" height=30>
  <tr>
    <td class="tdline"></td><th rowspan=2 nowrap>Related collectives</th><td class="tdline"></td>
  </tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
</table>

<div class="CollectiveCards">
  {{#each relatedGroups}}
  <div class="CollectiveCard">
    <a href="{{config.host.website}}/{{slug}}">
      <div>
        <div class='CollectiveCard-head' style="background-image:url('{{resizeImage backgroundImage width=320}}');{{#if settings.style.hero.cover.background}}background-color:{{settings.style.hero.cover.background}};{{/if}}">
          <center><img src="{{resizeImage logo width=240}}" /></center>
        </div>
        <div class='CollectiveCard-body'>
          <div class='CollectiveCard-name'>{{name}}</div>
          <div class='CollectiveCard-description'>We are on a mission to {{mission}}</div>
        </div>
        <div class='CollectiveCard-footer'>
          <div class='clearfix mt2'>
            <div class='CollectiveCard-metric'>
              <div class='CollectiveCard-metric-value'>{{contributorsCount}}</div>
              <div class='CollectiveCard-metric-label'>contributors</div>
            </div>
            <div class='CollectiveCard-metric'>
              <div class='CollectiveCard-metric-value'>{{currency yearlyIncome currency=currency precision=0}}</div>
              <div class='CollectiveCard-metric-label'>annual budget</div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  {{/each}}
</div>

{{/if}}