Subject: New collective pending {{collective.name}}

{{> header}}

<style>
  th { text-align: left; }
</style>

<h2>Creator</h2>
https://opencollective.com/{{user.collective.slug}}
<br /><br />
<table>
  <tr><th>Name</th><td>{{user.collective.name}}</td></tr>
  <tr><th>Email</th><td>{{user.email}}</td></tr>
  <tr><th>Website</th><td>{{user.collective.website}}</td></tr>
  <tr><th>Twitter</th><td>{{user.collective.twitterHandle}}</td></tr>
</table>

<h2>Collective</h2>
<table>
  <tr><th>Name</th><td>{{collective.name}}</td></tr>
  <tr><th>Website</th><td>{{collective.website}}</td></tr>
  <tr><th>Twitter</th><td>{{collective.twitterHandle}}</td></tr>
  <tr><th>Mission</th><td>{{collective.mission}}</td></tr>
  <tr><th>Tags</th><td>{{{json collective.tags}}}</td></tr>
</table>

<br /><br />
<center>
  <a href="{{actions.approve}}"><div class="btn">APPROVE</div></a>
</center>

{{> footer}}