Subject: New donation to {{collective.name}}: {{{currency transaction.amountInHostCurrency currency=transaction.hostCurrency}}}{{#if fromCollective.name}} from {{fromCollective.name}}{{/if}}

{{> header}}

<center>
  <h1>{{{currency transaction.amountInHostCurrency currency=transaction.hostCurrency}}}</h1>
  <div>{{transaction.description}}</div>
{{#if order.publicMessage}}
  <div><b>Public message:</b>{{order.publicMessage}}</div>
{{/if}}
  <br /><br />

{{#if fromCollective.image}}
  <a href="{{fromCollective.website}}">
    <img src="https://res.cloudinary.com/opencollective/image/fetch/c_thumb,g_face,h_124,r_max,w_124,bo_3px_solid_white/c_thumb,h_124,r_max,w_124,bo_2px_solid_rgb:66C71A/e_trim/f_auto/{{encodeURIComponent user.image}}" width="64" />
  </a>
{{/if}}

  <br /><br />
  {{#if tweet}}
    {{tweet.text}}<br />      
    <a href="https://twitter.com/intent/tweet?status={{tweet.encoded}}"><div class="btn">Thank that person!</div></a>
  {{/if}}

</center>

{{> footer}}