Subject: {{#ifCond expense.currency '===' 'USD'}}💵 {{/ifCond}}{{#ifCond expense.currency '===' 'EUR'}}💶 {{/ifCond}}{{#ifCond expense.currency '===' 'GBP'}}💷 {{/ifCond}}{{{currency expense.amount currency=expense.currency precision=2}}} from {{collective.name}} for {{expense.description}}

{{> header}}

<style>
  th {
    text-align: right;
    padding-right: 10px;
  }
</style>

<center>
  <h3>Hi there!</h3>
  <p>Just a quick note to let you know that your expense <b><a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">{{expense.description}}</a></b> that you filed on {{{moment expense.createdAt}}} to the <a href="{{config.host.website}}/{{collective.slug}}">{{collective.name}} collective</a> has just been paid.</p>
  <h2>{{{currency expense.amount currency=expense.currency precision=2}}}</h2>
  <div>{{transaction.description}}</div>
  <table>
    <tr>
      <th>To:</th><td>{{fromCollective.name}}</td>
    </tr>
    <tr>
      <th>Payout Method:</th><td>{{expense.payoutMethod}}</td>
    </tr>
  </table>

  <br /><br />
  <a href="{{config.host.website}}/{{collective.slug}}/expenses/new" class="btn blue"><div>Submit Another Expenses</div></a>
  <a href="{{config.host.website}}/{{collective.slug}}/expenses" class="btn"><div>View All Expenses</div></a>

</center>

{{> footer}}