{{#if expense }}
Subject: {{collective.name}}: New comment on {{#if recipientIsAuthor}}your {{/if}}{{#if expense}}expense {{expense.description}}{{/if}}{{#if update}}update {{update.title}}{{/if}} by {{fromCollective.name}}
{{else if conversation}}
Subject: New comment from {{fromCollective.name}} on "{{conversation.title}}"
{{else}}
Subject: {{collective.name}}: New comment
{{/if}}

{{> header}}

{{#if expense }}
  <p style="padding: 1em;">
    Hi {{collective.name}},
    <br /><br />
    <a href="{{config.host.website}}/{{fromCollective.slug}}">{{fromCollective.name}}</a> just posted
    a new comment on <a href="https://opencollective.com{{path}}">{{expense.description}}</a>:
  </p>
{{else if conversation}}
  <p style="font-size: 17px; padding: 1em;">
    Hi {{collective.name}},
    <br /><br />
    <a href="{{config.host.website}}/{{fromCollective.slug}}">{{fromCollective.name}}</a> just posted
    a new comment on <a href="https://opencollective.com{{path}}">{{conversation.title}}</a>:
  </p>
{{/if}}


<table style="width: 100%; margin-bottom: 30px;">
  <tbody>
    <tr>
      <td style="border: 1px solid #e8edee; border-radius: 6px; padding: 2em 1em;">
        <blockquote style="color: #798088;font-size: 13px;text-align: left;padding: 0px 1em;margin: 0em 0;white-space: pre-line;">{{comment.html}}</blockquote>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <center>
    <a href="https://opencollective.com{{path}}" class="btn blue"><div>View thread online</div></a>
  </center>
</p>


{{> footer}}