Subject: New expense on {{collective.name}}: {{{currency expense.amount currency=expense.currency precision=2}}} for {{expense.description}}

{{> header}}

<center>
  <h1>{{{currency expense.amount currency=expense.currency precision=2}}}</h1>
  <div><a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">{{expense.description}}</a></div>
  <div>Submitted by: {{fromCollective.name}}</div>
  {{#if payoutMethod}}
    {{#ifCond payoutMethod.type '===' 'PAYPAL'}}
      <div>Paypal Email: {{payoutMethod.data.email}}</div>
    {{/ifCond}}
  {{/if}}
  
  <p><font color="#999">{{expense.notes}}</font></p>

  <a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">
    <img src="https://res.cloudinary.com/opencollective/image/fetch/w_640,f_jpg/{{expense.attachment}}" width="100%" />
  </a>
  <br />
  <br />
  <br />
  <a class="btn blue" href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">
    <div style="font-size: 15px;">View expense on Open Collective</div>
  </a>

  <br /><br />

</center>

{{> footer}}
