Subject: Your expense to {{collective.name}} for {{{currency expense.amount currency=expense.currency precision=2}}} has been approved ✓

{{> header}}

<p>Quick message to let you know that your expense for <a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">{{expense.description}}</a> has been approved.</p>
<p>Next step: the host of the <a href="{{config.host.website}}/{{collective.slug}}">{{collective.name}} collective</a> (<a href="{{config.host.website}}/{{host.slug}}">{{host.name}}</a>) will reimburse your expense shortly (may take a couple of days depending on the host)</p>

<center>
  <h1>{{{currency expense.amount currency=expense.currency precision=2}}}</h1>
  <div><a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">{{expense.description}}</a></div>
</center>

<br />
<br />

<table>
  <tr><th>Submitted by:</th><td><a href="{{config.host.website}}/{{fromCollective.slug}}">{{fromCollective.name}}</a></td></tr>
  <tr><th>Payout method:</th><td>{{expense.payoutMethodLabel}}</td></tr>
  {{#if expense.privateMessage}}
    <tr><th valign="top">Private instructions:</th><td>{{expense.privateMessage}}</td></tr>
  {{/if}}
</table>

<br />
<br />

<center>
  <a href="{{actions.view}}">
    <img src="https://res.cloudinary.com/opencollective/image/fetch/w_640,f_jpg/{{expense.attachment}}" width="100%" />
  </a>

  <br /><br />
  <a href="{{actions.viewLatestExpenses}}" class="btn"><div>View Latest Expenses</div></a>

</center>

{{> footer}}
