Subject: {{collective.name}}: New comment on {{#if recipientIsAuthor}}your {{/if}}{{#if expense}}expense {{expense.description}}{{/if}}{{#if update}}update {{update.title}}{{/if}} by {{fromCollective.name}}

{{> header}}

{{comment.html}}

<p>
  <center>
    <a href="https://opencollective.com{{path}}" class="btn blue"><div>View thread online</div></a>
  </center>
</p>


{{> footer}}