Subject: Your application to {{host.name}}

{{> header}}

<h1>Hey {{collective.name}}</h1>

<p>Thank you for applying to host your Collective {{collective.name}} with {{host.name}}. Unfortunately your application has been rejected.</p>

{{#if rejectionReason}}
  <p>Note from {{host.name}}:</p>
  <blockquote>{{rejectionReason}}</blockquote>
{{/if}}

<p>
  If you would like to apply to another fiscal host, click the "apply" button on their page (if you meet their acceptance criteria). View fiscal hosts <a href="{{config.host.website}}/hosts">here</a>. You may also consider hosting your own Collective (<a href="https://docs.opencollective.com/help/hosts/become-host">more details</a>).
</p>

<p>If you have questions, please contact <a href="mailto:support@opencollective.com">support@opencollective.com</a>.</p>

{{> footer}}