Subject: Please confirm your comment on "{{expense.title}}"

{{> header}}

<style>
.btn {
  background-color: #80d823;
  border: 1px solid transparent;
  border-radius: 28px;
  display: inline-block;
  padding: .75rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  min-width: 150px;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 10px;
}

.grey {
  background-color: #dde1e4;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.image {
  margin: 0px 1px;
}

.comment {
  border: 1px solid #dde1e4;
  padding: 20px;
  margin: 20px auto;
  font-style: italic;
  border-radius: 5px;
}
</style>

<p>Hi!</p>

<p>You were not logged in when you submitted this comment on the expense "<a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">{{expense.title}}</a>".</p> 
<p>Can you confirm it was you?</p>

<div class="comment">
  {{comment.text}}
</div>

<center>
  <div class="btn"><a href="{{approve_url}}">Yes, publish this comment</a></div>
  <div>or</div>
  <div class="btn grey"><a href="{{login_url}}">Write another comment</a></div>
</center>

{{> footer}}
