Subject: {{collective.name}}: Your Collective is live!

{{> header}}

<style>
ol {
  padding: 0px 20px 5px;
}
li {
  margin: 15px 0px;
  line-height: 1.4; 
}
</style>
  
{{#if firstName}} 
<p>Dear {{firstName}},</p> 
{{else}} 
<p>Hi!!</p>  
{{/if}}

<p>Thanks for signing up on Open Collective! Your collective has been created: <strong><a href="{{config.host.website}}/{{collective.slug}}">{{collective.name}}</a></strong>.</p>
  
<p>Your collective is pre-approved and you can receive donations up to $500 while we review it. We will make a PR to your README file in Github once it's approved.</p>
<p>Check out our helpful how-to guide: <strong><a href="https://medium.com/open-collective/ten-steps-to-successful-open-source-crowdfunding-fa2b43e82687">Ten Steps to Successful Open Source Crowdfunding</a></strong>.</p>
 
<p>Top tips:</p>
<ol type="1"> 
<li><strong>Make your collective your own.</strong> <a href="{{config.host.website}}/login">Login</a> to edit it, add members and set up your preferred contribution tiers.  </li> 

<li><strong>Feature your backers & sponsors on your Github & website.</strong> Find instructions to add your backers to your website <a href="https://opencollective.com/widgets">here</a>.</li>

<li><strong>Submit expenses:</strong> <a href="{{config.host.website}}/{{collective.slug}}/expenses">{{config.host.website}}/{{collective.slug}}/expenses</a>, to let potential backers know what they're helping to fund.</li>

<li><strong>Spread the word.</strong> You can <a href="{{config.host.website}}/{{collective.slug}}/connect/twitter">connect your Twitter account to your collective</a> and automatically thank your backers. You can also <a href="https://github.com/OpenCollective/OpenCollective/wiki/Slack-and-Gitter">connect your Slack/Gitter</a> for notifications.</li>

</ol>

<p>Looking for inspiration? Check out <a href="https://opencollective.com/opensource">some other collectives</a> to see how they're raising and spending funds.</p>

<p>If you have questions, <a href="https://slack.opencollective.com">join our Slack</a>, check our <a href="https://github.com/opencollective/opencollective/wiki">wiki</a> or the <a href="https://forum.opencollective.com">forum</a>. We're here to help!</p>

<p>Cheers,</p>

<p>
  – Open Collective Team
</p>

{{> footer}}
