Subject: {{collective.name}}: Your Collective is live!

{{> header}}

<style>
.actions {
  margin: 0 auto;
  text-align: center;
}
.actions a {
  margin: 5px;
}
img.step {
  margin-top: 5px;
}
ol {
  padding: 0px 20px 5px;
}
li {
  margin: 15px 0px;
  line-height: 1.4; 
}
h3 {
  margin-top: 0;
}
.grey {
  color: #AAAEB3;
}
.cover {
  background: url('{{config.host.website}}/static/images/email/confetti.png') no-repeat center center;
  text-align: center;
}
</style>
  

<div class="cover">

  <img src="{{config.host.website}}/static/images/email/welcome.png" />

  <h1>Welcome {{collective.name}},</h1>

  <h2>Thanks for signing up on Open Collective!</h2>

</div>

<br />
<br />
<br />

<table>
  <tbody>
    <tr class="grey">
      <td valign="top" width="50"><img src="{{config.host.website}}/static/images/email/vertical-line-green.png" width="30" /></td>
      <td valign="top">
        <h3 class="grey">Create</h3>
        <p class="grey">Your collective <a href="{{config.host.website}}/{{collective.slug}}">{{collective.name}}</a> has been created and you are now a few steps away from receiving donations!</p>
      </td>
      <td valign="top">
        <img src="{{config.host.website}}/static/images/email/github.signup.step1.png" width="180" />
      </td>
    </tr>
    <tr><td colspan="3" height="30"></td></tr>
    <tr>
      <td valign="top" width="50"><img src="{{config.host.website}}/static/images/email/vertical-line-grey.png" width="30"  class="step"/></td>
      <td valign="top">
        <h3>Customize</h3>
        <p>Make this collective your own. Add a logo, backgrkound image and pick your preferred color! Add members, and create your own tiers and rewards.</p>
        <p><strong>Feature your backers & sponsors on your Github & website.</strong> Find instructions to add your backers to your website <a href="https://opencollective.com/widgets">here</a>.</p>
        <a href="{{config.host.website}}/{{collective.slug}}/edit" class="btn blue"><div>Edit your Collective</div></a>
      </td>
      <td valign="top">
        <img src="{{config.host.website}}/static/images/email/github.signup.step2.png" width="180" />
      </td>
    </tr>
    <tr><td colspan="3" height="30"></td></tr>
    <tr>
      <td valign="top" width="50"><img src="{{config.host.website}}/static/images/email/vertical-line-grey.png" width="30"  class="step"/></td>
      <td valign="top">
        <h3>Integrate</h3>
        <p>Make sure you show your backers and sponsors on your GitHub README and website to thank them and acknowledge their contribution! And don't forget to link the <a href="https://help.github.com/en/articles/displaying-a-sponsor-button-in-your-repository">Sponsor button</a> on your Github repo directly to your Open Collective! Configure it in the FUNDING.yml file in your .github folder.</p>
        <div class="actions">
          <a href="https://github.com/opencollective/opencollective/wiki/Widgets" class="btn"><div>More Info</div></a>
          <a href="https://github.com/parcel-bundler/parcel/pull/228/files" class="btn"><div>See an example</div></a>
        </div>
      </td>
      <td valign="top">
        <img src="{{config.host.website}}/static/images/email/github.signup.step3.png" width="180" />
      </td>
    </tr>
    <tr><td colspan="3" height="30"></td></tr>
    <tr>
      <td valign="top" width="50"><img src="{{config.host.website}}/static/images/email/vertical-line-grey.png" width="30"  class="step"/></td>
      <td valign="top">
        <h3>Share</h3>
        <p>Spread the word! Donations won’t come on their own. You need to hustle for them. Regularly tweet about it, share on Facebook, Meetup, WhatsApp, etc. Ask your community to chip in. And publicly acknowledge people who do so.</p>
      </td>
      <td valign="top">
        <img src="{{config.host.website}}/static/images/email/github.signup.step4.png" width="180" />
      </td>
    </tr>
    <tr><td colspan="3" height="30"></td></tr>
    <tr>
      <td valign="top" width="50"><img src="{{config.host.website}}/static/images/email/vertical-line-grey.png" width="30"  class="step"/></td>
      <td valign="top">
        <h3>Get & Manage Funds</h3>
        <p>File expenses on {{config.host.website}}/{{collective.slug}}/expenses/new and don't forget to approve them (any admin of the collective –aka core contributor– can approve or reject expenses). Your host organization (the <a href="https://opencollective.com/opensource">Open Source Collective 501c6</a>) pays out once a week all the expenses that have been approved.</p>
      </td>
      <td valign="top">
        <img src="{{config.host.website}}/static/images/email/github.signup.step5.png" width="180" />
      </td>
    </tr>
  </tbody>
</table>

<br />
<br />
<br />

<h1>Need inspiration?</h1>
<h2>See how other collectives are raising and spending funds.</h2>

<div class="center">
  <a class="btn" href="https://opencollective.com/discover"><div>Discover</div></a>
</div>

<br />
<br />
<br />

<p class="center">
  If you have questions, <a href="https://slack.opencollective.com">join our Slack</a> or check our <a href="http://docs.opencollective.com">docs</a>. We're here to help!
</p>

<p class="center">Cheers,</p>

<p class="center">
  <strong>– Open Collective Team</strong>
</p>

{{> footer}}
