Subject: {{collective.name}}: Your Collective is pending approval

{{> header}}

<style>
ol {
  padding: 0px 20px 5px;
}
li {
  margin: 15px 0px;
  line-height: 1.4;
}
</style>

{{#if firstName}}
<p>Dear {{firstName}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

<p>Thanks for signing up on Open Collective! Your collective has been created: <strong><a href="{{config.host.website}}/{{collective.slug}}">{{collective.name}}</a></strong>.</p>

<p>While you wait for approval to start receiving donations, check out our helpful how-to guide: <strong><a href="https://medium.com/open-collective/ten-steps-to-successful-open-source-crowdfunding-fa2b43e82687">Ten Steps to Successful Open Source Crowdfunding</a></strong>.</p>

<p>Top tips:</p>
<ol type="1">
<li><strong>Make your collective your own.</strong> <a href="{{config.host.website}}/login">Login</a> and hover over elements to edit them. </li>

<li><strong>Feature your backers & sponsors on your Github & website.</strong> We'll submit a PR to your README. Find instructions to add your backers to your website <a href="https://github.com/OpenCollective/OpenCollective/wiki/Website-banner">here</a>.

<li><strong>Submit expenses:</strong> <a href="{{config.host.website}}/{{collective.slug}}/expenses">{{config.host.website}}/{{collective.slug}}/expenses</a>, to let potential backers know what they're helping to fund.

<li><strong>Spread the word.</strong> You can <a href="{{config.host.website}}/{{collective.slug}}/connect/twitter">connect your Twitter account to your collective</a> and automatically thank your backers. You can also <a href="https://github.com/OpenCollective/OpenCollective/wiki/Slack-and-Gitter">connect your Slack/Gitter</a> for notifications.

</ol>

<p>Looking for inspiration? Check out <a href="https://opencollective.com/opensource">some other collectives</a> to see how they're raising and spending funds.</p>

<p>If you have questions, <a href="https://slack.opencollective.com">join our Slack</a> or email us. We're here to help!</p>

<p>Cheers,</p>

<p>
  – Team Open Collective
</p>

{{> footer}}
