Subject: {{group.name}}: {{{currency transaction.amountInTxnCurrency currency=transaction.txnCurrency}}} for {{transaction.description}} by {{user.username}}

{{> header}}

<center>
  <h1>{{{currency transaction.amountInTxnCurrency currency=transaction.txnCurrency}}}</h1>
  <div>{{transaction.description}}</div>
  <p><font color="#999">{{transaction.comment}}</font></p>

  <a href="{{config.host.webapp}}/groups/{{group.id}}/transactions/{{transaction.id}}" style="color:#7fadf2">
    <img src="{{transaction.preview.src}}" width="{{transaction.preview.width}}" />
  </a>

  <br /><br />
  <a href="{{config.host.webapp}}/groups/{{group.id}}/transactions/{{transaction.id}}" style="color:#7fadf2;text-decoration:none;">View this expense on OpenCollective to approve or reject it</a>

</center>

{{> footer}}