Subject: {{{capitalize group.name}}} Collective {{month}} Report

{{> header}}

<style>
h2 {
  margin-top: 30px;
  color:#75cc1f;
  font-weight:normal;
}

h3 {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 20px;
}

ul {
  padding-left: 20px;
}

ul li {
  margin: 5px 0px;
}
.counter {
  font-size: 36px;
  color: #7FADF2;
}
.delta {
  color: #7A7B82;
}
.positive {
  color: #66C71A;
}
.negative {
  color: red;
}
.label {

}
.reimbursed {
  color: #7A7B82;
}
th {
  padding: 10px;
  font-weight: normal;
  font-size: 14px;
  color: #7A7B82;
  vertical-align: top;
}
</style>

<div style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
  Balance: {{{currency group.stats.balance currency=group.currency}}} (+{{{currency group.stats.totalDonations currency=group.currency}}}{{#if group.stats.totalExpenses}}, {{{currency group.stats.totalExpenses currency=group.currency}}}{{/if}}) &nbsp; | &nbsp; 
  {{group.stats.backers.lastMonth}} backers (+{{group.stats.backers.new}}{{#if group.stats.backers.lost}}, -{{group.stats.backers.lost}}{{/if}}) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>

<div>
<p>Hi {{recipient.firstName}}!<br />
We got so excited about 2016 ending that we missed sending December report on time! 🙊 <br/>
Better late than never, here are your monthly stats as of December 31st: 
</p>

<center>
<table border=0 cellpadding=0 cellspacing=0 width=300 style="margin: 30px 0px">
  <tr>
    <td align="center"><span class="counter">{{{currency group.stats.balance currency=group.currency}}}</span></td>
    <td width=200>&nbsp;</td>
    <td align="center"><span class="counter">{{group.stats.backers.lastMonth}}</span></td>
  </tr>
  <tr>
    <td align="center" nowrap><span class="label">current balance</span></td>
    <td></td>
    <td align="center" nowrap><span class="label">total backers</span></td>
  </tr>
  <tr>
    <td align="center">
      <span class="positive">(+{{{currency group.stats.totalDonations currency=group.currency}}})</span><br />
      <span class="negative">&nbsp;{{#if group.stats.totalExpenses}}({{{currency group.stats.totalExpenses currency=group.currency}}}){{/if}}&nbsp;</span>
    </td>
    <td></td>
    <td align="center">
      <span class="positive">(+{{group.stats.backers.new}})</span><br />
      <span class="negative">&nbsp;{{#if group.stats.backers.lost}}(-{{group.stats.backers.lost}}){{/if}}&nbsp;</span>
    </td>
  </tr>
</table>

{{#each group.tiers}}
<table width="100%" height=30>
  <tr>
    <td class="tdline"></td><th rowspan=2 nowrap>{{title}}</th><td class="tdline"></td>
  </tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
</table>
  {{#each users}}
    <a href="{{@root.config.host.website}}/{{username}}?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email" class="{{../name}}">
      {{#if isSponsor}}
        <img src={{resizeImage avatar height=48}} height="48" alt="{{name}}" border="0" />
      {{else}}
        {{#if isNew}}
          <img src={{resizeImage avatar height=48 query="/c_thumb,g_face,h_96,r_max,w_96,bo_4px_solid_white/c_thumb,h_96,r_max,w_96,bo_4px_solid_rgb:66C71A/e_trim/f_auto/"}} height="48" alt="{{name}}" border="0" />
        {{else}}
          {{#if isLost}}
            <img src={{resizeImage avatar height=96 query="/c_thumb,g_face,h_96,r_max,w_96,bo_4px_solid_white/c_thumb,h_96,r_max,w_96,bo_4px_solid_rgb:FF0000/e_trim/f_auto/"}} height="48" alt="{{name}}" border="0" />
          {{else}}
            <img src={{resizeImage avatar height=48 query="/c_thumb,g_face,h_72,r_max,w_72,bo_2px_solid_white/c_thumb,h_72,r_max,w_72,bo_2px_solid_rgb:DDE1E4/e_improve,e_grayscale/e_trim/f_auto/"}} height="36" alt="{{name}}" border="0" />
          {{/if}}
        {{/if}}
      {{/if}}
    </a>
  {{/each}}
{{/each}}

{{> relatedgroups}}

</center>

<h2>Expenses</h2>
<table width="100%" border=0>

{{#each group.expenses}}
  <tr>
    <td valign="top">{{{moment createdAt format="MM/DD"}}}</td>
    <td align="right" valign="top" nowrap class="negative">{{{currency netAmountInGroupCurrency currency=currency}}}</td>
    <td valign="top" width="100%"><a href="{{@root.config.host.app}}/groups/{{@root.group.id}}/expenses/{{id}}?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">{{description}}</a></td>
    <td valign="top" class="{{toLowerCase status}}">{{toLowerCase status}}</td>
  </tr>
{{else}}
  No expense submitted. 
{{/each}}
</table>
<p><a href="{{@root.group.publicUrl}}/expenses/new?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">Submit an expense</a></p>

{{#if topBackers}}
<h2>Recent sponsor activity on Open Collective</h2>
<ul>
{{#each topBackers}}
  <li><a href="{{website}}?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">{{name}}</a> gave {{{donationsString.html}}}</li>
{{/each}}
</ul>
{{/if}}


<h2>Changelog</h2>

<p>You probably noticed that we redesigned your collective’s page. We decided to put the expenses and donations at the top to emphasis the financial transparency aspect of Open Collective and embrace the fact that in order to do great things together, we need money to fund them. We wrote about it <a href="https://medium.com/open-collective/meet-the-open-source-design-collective-96e81261f76#.neu5eimgr?{{utm}}">here</a>! </p>

<h2>Featured Collectives</h2>

<p>We have many new and exciting collectives on board, we’ll just mention a few of the latest ones and welcome everyone to this community! </p>

<ul>
  <li><a href="https://opencollective.com/telescope?{{utm}}">Telescope</a> is on a mission to create the easiest way to build modern web apps.
  <li><a href="https://opencollective.com/magit?{{utm}}">Magit</a> is on a mission to make version control at the speed of thought possible with Git.</li>
  <li><a href="https://opencollective.com/redux-saga?{{utm}}">Redux-saga</a> is on a mission to bring ease for side effects management in Redux applications.</li>
  <li><a href="https://opencollective.com/veganizerbxl?{{utm}}">VeganizerBXL</a> is on a mission to make Brussels more vegan-friendly</li>
  <li>Special welcome to <a href="https://opencollective.com/wwcodekyiv?{{utm}}">WWCodeKyiv</a> and <a href="https://opencollective.com/openlabs?{{utm}}">Open Labs Hackerspace</a> our first Ukrainian and Albanian collectives! </li>
</ul>

<h2>Read & Listen</h2>

<p>Check out our <a href="https://medium.com/open-collective/2016-on-open-collective-7677e352fd22#.8rl8hf1mh?{{utm}}">end of year wrap up blog post</a> (and what’s in the works for 2017)</p>

<p>Aseem kicked off <a href="https://medium.com/open-collective/meet-the-open-source-design-collective-96e81261f76#.agc4sypg6?{{utm}}">a new series of blog posts to showcase collectives with Open Source Design</a>. Stay tuned for more to come.</p>

<p><a href="https://www.youtube.com/watch?v=f7VdzbHbl78&feature=youtu.be?{{utm}}">Watch to Pia and Kent C. Dodds</a> chat about Open Collective.</p>

<p><a href="https://changelog.com/podcast/234">Open Collective was invited to do a Changelog podcast! Hot off the presses, you can listen to it here.<p>  

<h2>Open Issues</h2>

<p>We have an <a href="https://github.com/OpenCollective/OpenCollective/issues/177?{{utm}}">ongoing issue</a> about a new feature we are building to support selling tickets for events through your collective. Jump in, we’d love to hear your thoughts on this. 
</p>

</div>

{{> footer}}
