Subject: {{group.name}}> {{transaction.amount}} {{transaction.currency}} for {{transaction.description}} by {{user.username}}

<div id="transaction">
  <img src="{{transaction.link}}" align="left" />
  <div>
    <b>{{transaction.description}}</b>:
    {{transaction.amount}} {{transaction.currency}}
  </div>
</div>

<div>
  <a href="{{config.host.webapp}}/groups/{{group.id}}/transactions/{{transaction.id}}/approve">Approve</a> |
  <a href="{{config.host.webapp}}/groups/{{group.id}}/transactions/{{transaction.id}}/reject">Reject</a> |
  <a href="{{config.host.webapp}}/groups/{{group.id}}/transactions/{{transaction.id}}">View it on OpenCollective</a>
</div>
