Subject: New expense on {{group.name}}: {{{currency expense.amount currency=expense.currency}}} for {{expense.title}}

{{> header}}

<center>
  <h1>{{{currency expense.amount currency=expense.currency precision=2}}}</h1>
  <div>{{expense.title}}</div>
  <div>Submitted by: {{user.name}}</div>
  <div>Paypal Email: {{user.paypalEmail}}</div>
  <p><font color="#999">{{expense.notes}}</font></p>

  <a href="{{config.host.website}}/{{group.slug}}/expenses#exp{{expense.id}}" style="color:#7fadf2">
    <img src="https://res.cloudinary.com/opencollective/image/fetch/w_640,f_jpg/{{expense.attachment}}" width="100%" />
  </a>

  <br /><br />
  <a href="{{actions.approve}}"><div class="btn">APPROVE</div></a>
  <a href="{{actions.reject}}"><div class="btn red">REJECT</div></a>

  <br /><br />
  <a href="{{config.host.website}}/{{group.slug}}/expenses#exp{{expense.id}}" style="color:#7fadf2;text-decoration:none;">View this expense on the Open Collective website</a>

</center>

{{> footer}}