Subject: Expense paid on {{group.name}}: {{{currency transaction.netAmountInGroupCurrency currency=transaction.currency}}} for {{transaction.description}}

{{> header}}

<style>
.btn {
  color: #fff;
  background: #80d823;
  border: 1px solid transparent;
  border-radius: 28px;
  display: inline-block;
  padding: .75rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  min-width: 150px;
  box-sizing: border-box;
  vertical-align: middle;
}

.btn.red {
  background: #dd2663;
}
</style>

<center>
  <h3> Hi there! Just a note to let you know that an expense was paid in {{group.name}}. </h3>
  <h2>{{{currency transaction.netAmountInGroupCurrency currency=transaction.currency}}}</h2>
  <div>{{transaction.description}}</div>
  <div>To: {{user.name}}</div>
  <div>Paypal email: {{user.paypalEmail}}</div>

  <br /><br />
  <a href="{{config.host.website}}/{{group.slug}}/expenses" style="color:#7fadf2;text-decoration:none;">View this expense on the Open Collective website</a>

</center>

{{> footer}}