Subject: {{{capitalize group.name}}} Collective {{month}} Report

{{> header}}

<style>
.counter {
  font-size: 36px;
  color: #7FADF2;
}
.delta {
  color: #7A7B82;
}
.reimbursed {
  color: #7A7B82;
}
th {
  padding: 10px;
  font-weight: normal;
  font-size: 14px;
  color: #7A7B82;
  vertical-align: top;
}
</style>

<div style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
  Balance: {{{currency group.stats.balance currency=group.currency}}} (+{{{currency group.stats.totalDonations currency=group.currency}}}{{#if group.stats.totalExpenses}}, {{{currency group.stats.totalExpenses currency=group.currency}}}{{/if}}) &nbsp; | &nbsp; 
  {{group.stats.backers.lastMonth}} backers (+{{group.stats.backers.new}}{{#if group.stats.backers.lost}}, -{{group.stats.backers.lost}}{{/if}}) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>

<div>
<p>Hi {{recipient.firstName}}!</p>
<p>We hope you had a great start of the year! We are grateful and humbled by how much support the collectives are getting. ❤️</p>
<p>As usual, let’s start with your monthly stats:</p>

<center>
<table border=0 cellpadding=0 cellspacing=0 width=300 style="margin: 30px 0px">
  <tr>
    <td align="center"><span class="counter">{{{currency group.stats.balance currency=group.currency}}}</span></td>
    <td width=200>&nbsp;</td>
    <td align="center"><span class="counter">{{group.stats.backers.lastMonth}}</span></td>
  </tr>
  <tr>
    <td align="center" nowrap><span class="label">current balance</span></td>
    <td></td>
    <td align="center" nowrap><span class="label">total backers</span></td>
  </tr>
  <tr>
    <td align="center">
      <span class="positive">(+{{{currency group.stats.totalDonations currency=group.currency}}})</span><br />
      <span class="negative">&nbsp;{{#if group.stats.totalExpenses}}({{{currency group.stats.totalExpenses currency=group.currency}}}){{/if}}&nbsp;</span>
    </td>
    <td></td>
    <td align="center">
      <span class="positive">(+{{group.stats.backers.new}})</span><br />
      <span class="negative">&nbsp;{{#if group.stats.backers.lost}}(-{{group.stats.backers.lost}}){{/if}}&nbsp;</span>
    </td>
  </tr>
</table>

{{#each group.tiers}}
<table width="100%" height=30>
  <tr><td colspan="3" height="10">&nbsp;</td></tr>
  <tr>
    <td class="tdline"></td><th rowspan=2 nowrap>{{title}}</th><td class="tdline"></td>
  </tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
</table>
  {{#each users}}
    <a href="{{@root.config.host.website}}/{{username}}?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email" class="{{../name}}">
      {{#if isSponsor}}
        <img src={{resizeImage avatar height=48}} height="48" alt="{{name}}" border="0" />
      {{else}}
        {{#if isNew}}
          <img src={{resizeImage avatar height=48 query="/c_thumb,g_face,h_96,r_max,w_96,bo_4px_solid_white/c_thumb,h_96,r_max,w_96,bo_4px_solid_rgb:66C71A/e_trim/f_auto/"}} height="48" alt="{{name}}" border="0" />
        {{else}}
          {{#if isLost}}
            <img src={{resizeImage avatar height=96 query="/c_thumb,g_face,h_96,r_max,w_96,bo_4px_solid_white/c_thumb,h_96,r_max,w_96,bo_4px_solid_rgb:FF0000/e_trim/f_auto/"}} height="48" alt="{{name}}" border="0" />
          {{else}}
            <img src={{resizeImage avatar height=48 query="/c_thumb,g_face,h_72,r_max,w_72,bo_2px_solid_white/c_thumb,h_72,r_max,w_72,bo_2px_solid_rgb:DDE1E4/e_improve,e_grayscale/e_trim/f_auto/"}} height="36" alt="{{name}}" border="0" />
          {{/if}}
        {{/if}}
      {{/if}}
    </a>
  {{/each}}
{{/each}}

{{> relatedgroups}}

</center>

<h2>Expenses</h2>
<table width="100%" border=0>

{{#each group.expenses}}
  <tr>
    <td valign="top">{{{moment createdAt format="MM/DD"}}}</td>
    <td align="right" valign="top" nowrap class="negative">{{{currency netAmountInGroupCurrency currency=currency}}}</td>
    <td valign="top" width="100%"><a href="{{@root.config.host.app}}/groups/{{@root.group.id}}/expenses/{{id}}?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">{{description}}</a></td>
    <td valign="top" class="{{toLowerCase status}}">{{toLowerCase status}}</td>
  </tr>
{{else}}
  No expense submitted. 
{{/each}}
</table>
<p><a href="{{@root.group.publicUrl}}/expenses/new?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">Submit an expense</a></p>

{{#if topBackers}}
<h2>Recent sponsor activity on Open Collective</h2>
<ul>
{{#each topBackers}}
  <li><a href="{{website}}?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">{{name}}</a> gave {{{donationsString.html}}}</li>
{{/each}}
</ul>
{{/if}}


<h2>Changelog</h2>

<ul>
<li><b>Request Money:</b> 
Sometimes you want to send a backer or a sponsor a specific link for a donation, or you want to do a special subscription deal or sell tickets to a meetup. We released a new feature to generate a specific URL for this and you can find it in your transactions page:
<center><img style="width:100%;" src="https://cl.ly/2i1o370V3C3S/Screen%20Shot%202017-02-06%20at%2011.21.13%20PM.png" /></center>
</li> 
<li><b>We’ve changed the way your backers are charged:</b> 
We now charge recurring monthly subscriptions on 1st of every month (only for new recurring donations).
<p>The goal is to help you better manage your budget. You will now start the month with a minimum budget that will get improved with any new donations. This will also enable us in the future to charge a single payment for multiple monthly donations from the same user and reduce transaction fees.</p>
</li>
</ul>

<h2>Featured Collectives</h2>

<p>We created a collective <a href="https://opencollective.com/NoMuslimBan?{{utm}}">#NoMuslimBan</a> to raise money to support immigration efforts and shared an email address (expenses@NoMuslimBan.opencollective.com) to reimburse any immigration-related receipts. First use of that money: send 10 pizzas to the lawyers working hard and late into the night at JFK. Kudos to the delivery guy who made it happen amidst the chaos!! You can help us use the money by asking anyone who took part of the protest to file the expenses they had to the collective. A lot of people want to help cover them!

<center><img width="320" src="https://cl.ly/0t2J3n1d3F3Z/IMG_1401.JPG" /></center>
</p>


<h2>Read & Listen</h2>

<p>Read Xavier’s blog post <a href="https://medium.com/open-collective/from-firms-to-collectives-c139ae27a4ee#.5z8py49ic?{{utm}}">From Firms to Collectives</a>. Moving beyond the old model of private firms to create economic value together.</p>

<p>We believe in being open and transparent. That's why we decided to publish our investors updates. Here is the latest one: <a href="https://medium.com/open-collective/january-investors-update-b7fc9c527b0d#.vfv63c5xo">January Investors Update</a>.</p>

<p>We were invited to <a href="https://changelog.com/podcast/234">Changelog</a> and Pia had a long chat about Open Collective and creating a healthy ecosystem to support.<p>  

</div>

{{> footer}}
