Subject: New collective pending {{group.name}}

{{> header}}

<style>
  th { text-align: left; }
</style>

<h2>Creator</h2>
<table>
  <tr><th>Name</th><td>{{user.name}}</td></tr>
  <tr><th>Email</th><td>{{user.email}}</td></tr>
  <tr><th>Website</th><td>{{user.website}}</td></tr>
  <tr><th>Twitter</th><td>{{user.twitterHandle}}</td></tr>
</table>

<h2>Collective</h2>
<table>
  <tr><th>Name</th><td>{{group.name}}</td></tr>
  <tr><th>Website</th><td>{{group.website}}</td></tr>
  <tr><th>Twitter</th><td>{{group.twitterHandle}}</td></tr>
  <tr><th>Description</th><td>{{group.description}}</td></tr>
  <tr><th>Tags</th><td>{{{json group.tags}}}</td></tr>
  <tr><th>Settings</th><td>{{{json group.settings}}}</td></tr>
</table>

<p>
Please send an email to info@opencollective.com to confirm the creation of this collective.
</p>

{{> footer}}