Subject: {{group.name}} collective {{month}} report

{{> header}}

<style>

h1 {
  font-weight:normal;
}

h2 {
  margin-top: 30px;
  color:#75cc1f;
  font-weight:normal;
}

ul {
  padding-left: 20px;
}

ul li {
  margin: 5px 0px;
}
.counter {
  font-size: 36px;
  color: #7FADF2;
}
.delta {
  color: #7A7B82;
}
.label {

}
.reimbursed {
  color: #7A7B82;
}
</style>

<div style="font-size:10pt">

<h1>{{group.name}} {{month}} report</h1>

<p>Hi there! This is the monthly report for your open collective with your latest balance (as of the last day of last month) and all the expenses that were submitted.
You can always visit your collective page to get the latest up to date data: <a href="{{group.publicUrl}}">{{group.publicUrl}}</a><br />
Don't hesitate to send us your feedback by replying to this email, we thrive on feedback! ❤️ ❤️</p>

<center>
<table border=0 cellpadding=0 cellspacing=0 width=300 style="margin: 30px 0px">
  <tr>
    <td align="center"><span class="counter">{{{currency group.balance currency=group.currency}}}</span></td>
    <td width=200>&nbsp;</td>
    <td align="center"><span class="counter">{{group.backersCount}}</span></td>
  </tr>
  <tr>
    <td align="center"><span class="label">current balance</span></td>
    <td></td>
    <td align="center" nowrap><span class="label">total backers</span></td>
  </tr>
  <tr>
    <td align="center"><span class="delta">({{{sign group.balanceDelta}}}{{{currency group.balanceDelta currency=group.currency}}})</span></span></td>
    <td></td>
    <td align="center"><span class="delta">({{{sign group.backersCountDelta}}}{{group.backersCountDelta}})</span></td>
  </tr>
</table>
<br />
<a href="{{group.publicUrl}}#backers"><img src="{{group.publicUrl}}/backers.png?avatarHeight=48&width=600&button=false&order=recent" /></a>
<a href="{{group.publicUrl}}#sponsors"><img src="{{group.publicUrl}}/sponsors.png?avatarHeight=48&width=600&button=false&order=recent" /></a>
</center>

<h2>Expenses</h2>
<table width="100%" border=0>

{{#each group.expenses}}
  <tr>
    <td valign="top">{{{moment createdAt format="MM/DD"}}}</td>
    <td align="right" valign="top" nowrap>{{{currency netAmountInGroupCurrency currency=currency}}}</td>
    <td valign="top"><a href="{{@root.config.host.app}}/groups/{{@root.group.id}}/expenses/{{id}}">{{description}}</a></td>
    <td valign="top" class="{{toLowerCase status}}">{{toLowerCase status}}</td>
  </tr>
{{else}}
  No expense submitted. <a href="{{@root.group.publicUrl}}/expenses/new">Submit an expense</a>
{{/each}}
</table>

{{#if topBackers}}
<h2>Recent sponsor activity on Open Collective</h2>
<ul>
{{#each topBackers}}
  <li><a href="{{website}}">{{name}}</a> gave {{{donationsString}}}</li>
{{/each}}
</ul>
{{/if}}

{{#if group.related}}
  <h2>Check out similar collectives</h2>
  <ul>
  {{#each group.related}}
    <li><a href="{{publicUrl}}?utm_source=email&utm_campaign=monthlyreport">{{name}}</a>, on a mission to {{mission}} [<a href="{{publicUrl}}?utm_source=email&utm_campaign=monthlyreport#support">support them!</a>]</li>
  {{/each}}
  </ul>
{{/if}}

<h2>Featured collective</h2>
<ul>
  <li><a href="https://opencollective.com/webpack?utm_source=email&utm_campaign=monthlyreport">Webpack</a>: We are thrilled to have Webpack on board! They are building a module bundler for modern JavaScript applications. They have 177 contributors and 20,430 stars on Github and now also 93 backers/sponsors supporting their work on Open Collective.
 Read their post about <a href="https://medium.com/webpack/sustaining-webpack-for-the-future-part-1-32bea7f9e8a2#.m15pmzbz9">sustaining Webpack for the future</a>.</li>
</ul>

<h2>Fundraising</h2>
<ul>
<li>Mozilla Foundation asked us to share with you that they are accepting applications for Mozilla Open Source Support. MOSS supports the Open Source and Free Software movement. Look out for the "Mission Partners" track, which is open to any free software / open source project that significantly furthers Mozilla’s mission to ensure the Internet is a global public resource, open and accessible to all. See https://www.mozilla.org/moss/ and https://www.mozilla.org/en-US/moss/mission-partners/  <br />
→ Deadline coming up soon! You can use your OpenCollective to receive the funds ❤️.
</li>
</ul>

<h2>Blog posts</h2>
<ul>
<li>Pia wrote about her time in Mexico and our proposal to create a collective for the Mexico City. Post <a href="https://medium.com/open-collective/un-colectivo-abierto-para-cmdx-474d7f6b4c4d#.bsrz38b7o">here</a> (in Spanish) and <a href="https://www.youtube.com/watch?v=aNexUvItA-w">the talk</a> (also in Spanish).</li>
<li><a href="https://medium.com/open-collective/asking-for-a-new-feature-on-an-open-source-project-3305deba1356#.vbccjusi0">Funding for Server-side rendering in React-boilerplate</a>: Help us raise money to fund the development of <a href="https://github.com/mxstbr/react-boilerplate/issues/1103">Server-Side Rendering in React-boilerplate</a>.<br />
- <a href="https://opencollective.com/react-boilerplate/donate/50">Donate $50</a><br />
- <a href="https://opencollective.com/react-boilerplate/donate/100">Donate $100</a><br />
- <a href="https://opencollective.com/react-boilerplate/donate/250">Donate $250</a> (like we did :) ).</li>
</ul>

<h2>Changelog</h2>
<p>
You will likely notice some changes to your collective page: now the contributors counter includes backers, sponsors as well as core contributors. We believe that everyone has something to contribute and we should all be acknowledged as such. 
</p><p>
We will keep iterating on the collective page for the next couple of weeks and we looooooove your feedback & ideas! We can’t know what’s useful for you if you don’t share it with us. Please send us anything you think relevant or silly to support@opencollective.com and/or #user-feedback channel on https://slack.opencollective.com. We will be very thankful and send appreciative stickers your way!</p>
</ul>

<h2>Don't forget</h2>
<ul>
  <li><b>Twitter</b> You can now link your collective to your twitter account to automatically thank your backers/sponsors. <a href="{{group.publicUrl}}/connect/twitter">Deets here</a> (it's still a bit ugly but it works!)</li>
  <li><b>Slack</b> Don't forget to send Pia (pia@opencollective.com) your slack webhook url if you'd like to receive notifications for new donations/expenses in your slack channel.</li>
</ul>

<h2>End note</h2>
We have some funds on our collective <a href="https://opencollective.com/FreeRideToVote">FreeRidetoVote</a> to cover for more than 100 rides. If you, or someone you know, needs a free ride to go vote on Tuesday, use <a href="https://goo.gl/forms/KBSvyYFRF1YIQk4N2">this form</a> to request one & please please pretty please: Go Vote! 🚕✍️🗳✓✌️ 

</div>

{{> footer}}