Subject: {{{capitalize group.name}}} Collective {{month}} Report

{{> header}}

<style>
.counter {
  font-size: 36px;
  color: #7FADF2;
}
.delta {
  color: #7A7B82;
}
.reimbursed {
  color: #7A7B82;
}
th {
  padding: 10px;
  font-weight: normal;
  font-size: 14px;
  color: #7A7B82;
  vertical-align: top;
}
</style>

<div style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
  Balance: {{{currency group.stats.balance currency=group.currency}}} (+{{{currency group.stats.totalDonations currency=group.currency}}}{{#if group.stats.totalExpenses}}, {{{currency group.stats.totalExpenses currency=group.currency}}}{{/if}}) &nbsp; | &nbsp; 
  {{group.stats.backers.lastMonth}} backers (+{{group.stats.backers.new}}{{#if group.stats.backers.lost}}, -{{group.stats.backers.lost}}{{/if}}) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>

<div>
<p>Hi {{recipient.firstName}}!</p>
<p>February was short and sweet (and so is this email)! Collectives as a whole had their best month yet and we can’t be happier.️ 🤘</p>
<p>As usual, let’s start with your monthly stats:</p>

<center>
<table border=0 cellpadding=0 cellspacing=0 width=300 style="margin: 30px 0px">
  <tr>
    <td align="center"><span class="counter">{{{currency group.stats.balance currency=group.currency}}}</span></td>
    <td width=200>&nbsp;</td>
    <td align="center"><span class="counter">{{group.stats.backers.lastMonth}}</span></td>
  </tr>
  <tr>
    <td align="center" nowrap><span class="label">current balance</span></td>
    <td></td>
    <td align="center" nowrap><span class="label">total backers</span></td>
  </tr>
  <tr>
    <td align="center">
      <span class="positive">(+{{{currency group.stats.totalDonations currency=group.currency}}})</span><br />
      <span class="negative">&nbsp;{{#if group.stats.totalExpenses}}({{{currency group.stats.totalExpenses currency=group.currency}}}){{/if}}&nbsp;</span>
    </td>
    <td></td>
    <td align="center">
      <span class="positive">(+{{group.stats.backers.new}})</span><br />
      <span class="negative">&nbsp;{{#if group.stats.backers.lost}}(-{{group.stats.backers.lost}}){{/if}}&nbsp;</span>
    </td>
  </tr>
</table>

{{#each group.tiers}}
<table width="100%" height=30>
  <tr><td colspan="3" height="10">&nbsp;</td></tr>
  <tr>
    <td class="tdline"></td><th rowspan=2 nowrap>{{title}}</th><td class="tdline"></td>
  </tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
</table>
  {{#each users}}
    <a href="{{@root.config.host.website}}/{{username}}?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email" class="{{../name}}">
      {{#if isSponsor}}
        <img src={{resizeImage avatar height=48}} height="48" alt="{{name}}" border="0" />
      {{else}}
        {{#if isNew}}
          <img src={{resizeImage avatar height=48 query="/c_thumb,g_face,h_96,r_max,w_96,bo_4px_solid_white/c_thumb,h_96,r_max,w_96,bo_4px_solid_rgb:66C71A/e_trim/f_auto/"}} height="48" alt="{{name}}" border="0" />
        {{else}}
          {{#if isLost}}
            <img src={{resizeImage avatar height=96 query="/c_thumb,g_face,h_96,r_max,w_96,bo_4px_solid_white/c_thumb,h_96,r_max,w_96,bo_4px_solid_rgb:FF0000/e_trim/f_auto/"}} height="48" alt="{{name}}" border="0" />
          {{else}}
            <img src={{resizeImage avatar height=48 query="/c_thumb,g_face,h_72,r_max,w_72,bo_2px_solid_white/c_thumb,h_72,r_max,w_72,bo_2px_solid_rgb:DDE1E4/e_improve,e_grayscale/e_trim/f_auto/"}} height="36" alt="{{name}}" border="0" />
          {{/if}}
        {{/if}}
      {{/if}}
    </a>
  {{/each}}
{{/each}}

{{> relatedgroups}}

</center>

<h2>Expenses</h2>
<table width="100%" border=0>

{{#each group.expenses}}
  <tr>
    <td valign="top">{{{moment createdAt format="MM/DD"}}}</td>
    <td align="right" valign="top" nowrap class="negative">{{{currency netAmountInGroupCurrency currency=currency}}}</td>
    <td valign="top" width="100%"><a href="{{@root.config.host.app}}/groups/{{@root.group.id}}/expenses/{{id}}?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">{{description}}</a></td>
    <td valign="top" class="{{toLowerCase status}}">{{toLowerCase status}}</td>
  </tr>
{{else}}
  No expense submitted. 
{{/each}}
</table>
<p><a href="{{@root.group.publicUrl}}/expenses/new?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">Submit an expense</a></p>

{{#if topBackers}}
<h2>Recent sponsor activity on Open Collective</h2>
<ul>
{{#each topBackers}}
  <li><a href="{{website}}?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">{{name}}</a> gave {{{donationsString.html}}}</li>
{{/each}}
</ul>
{{/if}}


<h2>Changelog</h2>

<ul>
<li><b>Sell Tickets:</b> 
We are rolling out the first release of a feature to sell event tickets on your Open Collective page! It's a great way to raise funds for your collective. Ping us if you want to test it! (just reply to this email) <a href="http://opencollective.com/brusselstogether/events/meetup-2?{{utm}}">http://opencollective.com/brusselstogether/events/meetup-2</a>
<center><a href="http://opencollective.com/brusselstogether/events/meetup-2?{{utm}}"><img style="width:100%;" src="https://cl.ly/081v0t2p2e3Q/Screen%20Shot%202017-03-03%20at%2010.38.18%20AM.png" /></a></center>
</li> 
<li><b>npm-postinstall:</b> 
A module to prompt your users to donate to your collective after `npm install` <a href="https://github.com/opencollective/opencollective-postinstall">https://github.com/opencollective/opencollective-postinstall</a>. 
There has been a <a href="https://twitter.com/_developit/status/836377502939557888">lively conversation on twitter</a> about it. We are looking for someone to try it. Are you interested?
<p><center><a href="https://github.com/opencollective/opencollective-postinstall"><img style="width:100%;" src="https://cl.ly/323M3x2Y1J3E/Screen%20Shot%202017-02-22%20at%202.03.58%20AM.png" /></a></center></p>
</li>
<li>
  <b>Backer/Sponsor Widget:</b> If you are supporting a collective (or many collectives!), you can <a href="https://github.com/OpenCollective/OpenCollective/wiki/Website-widget">add a banner to your website</a> to showcase them.
  <center><a href="https://github.com/OpenCollective/OpenCollective/wiki/Website-widget"><img style="width:100%;" src="https://cl.ly/421D2S413j1B/Screen%20Shot%202017-03-03%20at%2010.48.56%20AM.png" /></a></center>
</li>
</ul>

<h2>Welcome Alanna to Open Collective</h2>
We are super excited to have Alanna (Enspiral, loomio, Co-budget among other amazing projects) as a core contributor on Open Collective. She will be reaching out to many of you to chat and write about your work and your collectives. She wrote a great blog post about why she came on board: <a href="https://medium.com/open-collective/being-a-circle-in-a-world-made-for-triangles-bc434d823a79#.93kn2xcxn">Being a circle in a world made for triangles.</a>
<p><center><img style="width:80%" src="https://cl.ly/2F392i0o2R3I/Alanna-Pia-Aseem-Xavier.png" /></center></p>

<h2>Ideas on how to spend your collective’s money</h2>

<p><b>Technical writer for a monthly newsletter:</b> Healthiest communities are built around frequent communication. We know it's a lot of work to keep it up but it helps to keep your contributors updated and engaged. If you want help drafting a monthly newsletter, we have a technical writer (who currently writes Node JS newsletter) available to help for a small fee. She'll look through your GitHub repos, summarize changes and any new issues to draft an update to your contributors. Ping us to get started.</p>

<p><b>Get together IRL!</b> If your team members don’t need the extra cash, or they have a company paying them to work on OSS what better way of spending the money than organizing a weekend together somewhere around the globe! 🌎 🌍 🌏</p>

<h2>OpenCollective meetup</h2>
If you are in NYC, come join us for a drink 🍻 next Wednesday (March 8th) at 7pm at the Swift Hiberian Lounge. RSVP on our new events page 😊 <a href="https://opencollective.com/opencollective/events/meetup-1?{{utm}}">https://opencollective.com/opencollective/events/meetup-1</a>

<h2>Don’t forget!</h2>
<p>Let us know if you want to receive an email when your collective receives a new donation or someone files an expense! We are very mindful of everyone’s inbox so we don’t do this by default.</p>

</div>

{{> footer}}
