Subject: {{group.name}} collective {{month}} report

{{> header}}

<style>

h1 {
  font-weight:normal;
}

h2 {
  margin-top: 30px;
  color:#75cc1f;
  font-weight:normal;
}

ul {
  padding-left: 20px;
}

ul li {
  margin: 5px 0px;
}
.counter {
  font-size: 36px;
  color: #7FADF2;
}
.delta {
  color: #7A7B82;
}
.label {

}
.reimbursed {
  color: #7A7B82;
}
</style>

<div style="font-size:10pt">

<h1>{{group.name}} {{month}} report</h1>

<p>Hi there! This your monthly report for your open collective with your latest balance (as of the last day of last month) and all the expenses that were submitted.
 Don't hesitate to send us your feedback by replying to this email. You can always visit your collective page to get the latest up to date data: <a href="{{group.publicUrl}}">{{group.publicUrl}}</a></p>

<p>You've probably seen some changes to your collective already, we'd like to tell you more about them! See the #changelog at the bottom of this email.</p> 

<center>
<table border=0 cellpadding=0 cellspacing=0 width=300 style="margin: 30px 0px">
  <tr>
    <td align="center"><span class="counter">{{{currency group.balance currency=group.currency}}}</span></td>
    <td width=200>&nbsp;</td>
    <td align="center"><span class="counter">{{group.backersCount}}</span></td>
  </tr>
  <tr>
    <td align="center"><span class="label">current balance</span></td>
    <td></td>
    <td align="center" nowrap><span class="label">total backers</span></td>
  </tr>
  <tr>
    <td align="center"><span class="delta">({{{sign group.balanceDelta}}}{{{currency group.balanceDelta currency=group.currency}}})</span></span></td>
    <td></td>
    <td align="center"><span class="delta">({{{sign group.backersCountDelta}}}{{group.backersCountDelta}})</span></td>
  </tr>
</table>
<br />
<a href="{{group.publicUrl}}#backers"><img src="{{group.publicUrl}}/backers.png?avatarHeight=48&maxWidth=600&button=false&order=recent" /></a>
<a href="{{group.publicUrl}}#sponsors"><img src="{{group.publicUrl}}/sponsors.png?avatarHeight=48&maxWidth=600&button=false&order=recent" /></a>
</center>

<h2>Expenses</h2>
<table width="100%" border=0>

{{#each group.expenses}}
  <tr>
    <td valign="top">{{{moment createdAt format="MM/DD"}}}</td>
    <td align="right" valign="top" nowrap>{{{currency netAmountInGroupCurrency currency=currency}}}</td>
    <td valign="top"><a href="{{@root.config.host.app}}/groups/{{@root.group.id}}/expenses/{{id}}">{{description}}</a></td>
    <td valign="top" class="{{toLowerCase status}}">{{toLowerCase status}}</td>
  </tr>
{{else}}
  No expense submitted. <a href="{{@root.group.publicUrl}}/expenses/new">Submit an expense</a>
{{/each}}
</table>

{{#if topBackers}}
<h2>Recent sponsor activity on Open Collective</h2>
<ul>
{{#each topBackers}}
  <li><a href="{{website}}">{{name}}</a> gave {{{donationsString}}}</li>
{{/each}}
</ul>
{{/if}}

{{#if group.related}}
  <h2>Check out similar collectives</h2>
  <ul>
  {{#each group.related}}
    <li><a href="{{publicUrl}}?utm_source=email&utm_campaign=monthlyreport">{{name}}</a>, on a mission to {{mission}} [<a href="{{publicUrl}}?utm_source=email&utm_campaign=monthlyreport#support">support them!</a>]</li>
  {{/each}}
  </ul>
{{/if}}

<h2>Featured collective</h2>
<ul>
  <li><a href="https://opencollective.com/ubie?utm_source=email&utm_campaign=monthlyreport">UBIE Network</a>: We are on a mission to get Unconditional Basic Income (UBI) introduced in Europe. [<a href="https://opencollective.com/ubie?utm_source=email&utm_campaign=monthlyreport#support">support that mission!</a>]</li>
</ul>

<h2>Blog posts</h2>
<li>No new blog post this month 🤔<br />
<i>Why don't you write a blog post to explain how you are using Open Collective? We will feature it here! 😊</i></li>
</ul>

<h2>Changelog</h2>
<ul>

<li><b>Editable Collective</b> Woohooo You can log in through your collective, hover over logo, mission and texts to modify. Also access your profile from the dropdown menu. We are still working on hero image and adding contributors.</li>

<li><b>Counter</b> We tried to remove the counter with the yearly budget but many of you were missing it. So it's back and we've added the total number of people that contribute to your collective (that includes your core contributors, your backers, your sponsors and your contributors on github if you have attached a github repository to your collective)</li>

<li><b>Why Join Section</b> The black section in the middle is going away soon. You'll be able to use markdown to create any title and content in the long description as well as use it to show images and video.</li>

<li><b>Support</b> We now have an dedicated email for requests (support@opencollective.com) as well as the <a href="https://slack.opencollective.com">#user-feedback channel in slack</a></li>

<li><b>Twitter</b> You can now link your collective to your twitter account to automatically thank your backers/sponsors. <a href="{{group.publicUrl}}/connect/twitter">Deets here</a> (it's still a bit ugly but it works!)</li>

<li><b>Slack</b> Don't forget to send Pia (pia@opencollective.com) your slack webhook url if you'd like to receive notifications for new donations/expenses in your slack channel.</li>

</ul>

</div>

{{> footer}}