Subject: New donation to {{group.name}}: {{{currency transaction.amount currency=transaction.currency}}} from {{user.name}}

{{> header}}

<center>
  <h1>{{{currency transaction.amount currency=transaction.currency}}}</h1>
  <div>{{transaction.description}}</div>

  <br /><br />

  <a href="{{user.website}}">
    <img src="https://res.cloudinary.com/opencollective/image/fetch/c_thumb,g_face,h_124,r_max,w_124,bo_3px_solid_white/c_thumb,h_124,r_max,w_124,bo_2px_solid_rgb:66C71A/e_trim/f_auto/{{encodeURIComponent user.avatar}}" width="64" />
  </a>

  <br /><br />
  {{#if tweet}}
    {{tweet.text}}<br />
    <a href="https://twitter.com/intent/tweet?status={{tweet.encoded}}">Tweet this!</a>
  {{/if}}

</center>

{{> footer}}