Subject: {{{capitalize group.name}}} Collective {{month}} report
Text: {{group.stats.backers.lastMonth}} backers (+{{group.stats.backers.new}} -{{group.stats.backers.lost}}).<br>Balance: {{{currency group.stats.balance currency=group.currency}}} (+{{{currency group.stats.totalDonations currency=group.currency}}} {{{currency group.stats.totalExpenses currency=group.currency}}})

{{> header}}

<style>
h2 {
  margin-top: 30px;
  color:#75cc1f;
  font-weight:normal;
}

h3 {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 20px;
}

ul {
  padding-left: 20px;
}

ul li {
  margin: 5px 0px;
}
.counter {
  font-size: 36px;
  color: #7FADF2;
}
.delta {
  color: #7A7B82;
}
.positive {
  color: #66C71A;
}
.negative {
  color: red;
}
.label {

}
.reimbursed {
  color: #7A7B82;
}
th {
  padding: 10px;
  font-weight: normal;
  font-size: 14px;
  color: #7A7B82;
  vertical-align: top;
}
</style>

<div style="font-size:10pt">

<p>Hi {{recipient.firstName}}!<br />
We have lots of good news this month, we could barely wait to share them with you!<br />
But first, your monthly stats (visit your collective page to get the latest up to date data: <a href="{{group.publicUrl}}?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">{{group.publicUrl}})</a>.<br />
And please don't hesitate to send us feedback - just reply to this email! We love to hear from you! ❤️❤️</p>

<center>
<table border=0 cellpadding=0 cellspacing=0 width=300 style="margin: 30px 0px">
  <tr>
    <td align="center"><span class="counter">{{{currency group.stats.balance currency=group.currency}}}</span></td>
    <td width=200>&nbsp;</td>
    <td align="center"><span class="counter">{{group.stats.backers.lastMonth}}</span></td>
  </tr>
  <tr>
    <td align="center" nowrap><span class="label">current balance</span></td>
    <td></td>
    <td align="center" nowrap><span class="label">total backers</span></td>
  </tr>
  <tr>
    <td align="center">
      <span class="positive">(+{{{currency group.stats.totalDonations currency=group.currency}}})</span><br />
      <span class="negative">({{{currency group.stats.totalExpenses currency=group.currency}}})</span>
      </span>
    </td>
    <td></td>
    <td align="center">
      <span class="positive">(+{{group.stats.backers.new}})</span><br />
      <span class="negative">(-{{group.stats.backers.lost}})</span>
    </td>
  </tr>
</table>

{{#each group.tiers}}
<table width="100%" height=30>
  <tr>
    <td class="tdline"></td><th rowspan=2 nowrap>{{title}}</th><td class="tdline"></td>
  </tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
</table>
  {{#each users}}
    <a href="{{@root.config.host.website}}/{{username}}?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email" class="{{../name}}">
      {{#if isSponsor}}
        <img src={{resizeImage avatar height=48}} height="48" alt="{{name}}" border="0" />
      {{else}}
        {{#if isNew}}
          <img src={{resizeImage avatar height=48 query="/c_thumb,g_face,h_96,r_max,w_96,bo_4px_solid_white/c_thumb,h_96,r_max,w_96,bo_4px_solid_rgb:66C71A/e_trim/f_auto/"}} height="48" alt="{{name}}" border="0" />
        {{else}}
          {{#if isLost}}
            <img src={{resizeImage avatar height=96 query="/c_thumb,g_face,h_96,r_max,w_96,bo_4px_solid_white/c_thumb,h_96,r_max,w_96,bo_4px_solid_rgb:FF0000/e_trim/f_auto/"}} height="48" alt="{{name}}" border="0" />
          {{else}}
            <img src={{resizeImage avatar height=48 query="/c_thumb,g_face,h_72,r_max,w_72,bo_2px_solid_white/c_thumb,h_72,r_max,w_72,bo_2px_solid_rgb:DDE1E4/e_improve,e_grayscale/e_trim/f_auto/"}} height="36" alt="{{name}}" border="0" />
          {{/if}}
        {{/if}}
      {{/if}}
    </a>
  {{/each}}
{{/each}}

{{> relatedgroups}}

</center>

<h2>Expenses</h2>
<table width="100%" border=0>

{{#each group.expenses}}
  <tr>
    <td valign="top">{{{moment createdAt format="MM/DD"}}}</td>
    <td align="right" valign="top" nowrap class="negative">{{{currency netAmountInGroupCurrency currency=currency}}}</td>
    <td valign="top" width="100%"><a href="{{@root.config.host.app}}/groups/{{@root.group.id}}/expenses/{{id}}?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">{{description}}</a></td>
    <td valign="top" class="{{toLowerCase status}}">{{toLowerCase status}}</td>
  </tr>
{{else}}
  No expense submitted. <a href="{{@root.group.publicUrl}}/expenses/new?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">Submit an expense</a>
{{/each}}
</table>

{{#if topBackers}}
<h2>Recent sponsor activity on Open Collective</h2>
<ul>
{{#each topBackers}}
  <li><a href="{{website}}?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">{{name}}</a> gave {{{donationsString}}}</li>
{{/each}}
</ul>
{{/if}}

<h2>🚨🚨 Sponsors Offers 🚨🚨</h2>

<p>We are excited to announce 3 great offers for the projects on the Open Source Collective! </p>

<p><a href="https://www.getcroissant.com/?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">Croissant</a> is offering a <b>free week</b> + 20% off the first 3 months.  <a href="http://blog.getcroissant.com/blog/2016/11/16/changing-the-world-one-repository-at-a-time?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">Find out</a> why they support Open Source and use the code <b>HELLOCOLLECTIVE</b> on the third step of the signup process. <a href="https://twitter.com/GetCroissant?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">Tweet</a> them your appreciation! </p>
<p> </p>
<p><a href="https://community.algolia.com/?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">Algolia</a> is grateful for the work that you do and wants to invite all of you to try out their <a href="https://community.algolia.com/docsearch/?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">DocSearch project</a> for adding a really 👌 search to your documentation. Better search means fewer duplicate issues or support tickets from users \o/. It's free for Open Source Software and Algolia will do 90% of the work to get you up and running, <a href="https://community.algolia.com/docsearch/">just fill out this form</a> to get started. If you have any questions or need support (about anything search-related, really!), <a href="https://discourse.algolia.com?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">log on to their Discourse forum</a> and post in the DocSearch category with the #opencollective tag. Read more about why they do this <a href="https://stories.algolia.com/why-were-backing-opencollective-and-webpack-39e39838f18a#.iagl7sfu1?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">here</a>! </p>
<p> </p>
<p><a href="http://hackerparadise.org?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">Hacker Paradise</a> is offering <b>$100 off</b> their <a href="http://www.hackerparadise.org/blog/2016/11/01/south-america-housing-coworking/?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">upcoming trip to South America</a> ✈️ (simply mention Open Source Collective when registering). You can also apply to get one of their 2 <a href="http://www.hackerparadise.org/blog/2016/11/17/open-source-fellowship/?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">Open Source Fellowships</a> to spend a month working on your open source project in South America, expenses paid!</p>

<h2>Blog posts</h2>
<p>Together we crowdfunded an annual budget of over $100,000 for Open Source (and we are only getting started 💰💸!). Help us share this <a href="https://medium.com/open-collective/together-we-crowdfunded-a-yearly-budget-of-over-100-000-for-open-source-a77502fd74da#.y902opkkp?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">blog post</a>! </p>

<h2>Featured Collectives:</h2>
<p>Welcome <a href="https://opencollective.com/betweenthewires?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">Between the Wires</a> to Open Collective! Vivian and Preethi are offering a behind the scenes glance at the creation of developer products to inspire and educate.They are just launching a campaign to raise $5,000 for doing 20+ more interviews in 2017. Check out their launch post and great interviews <a href="https://betweenthewires.org/our-opencollective-campaign-65e60f2fcd0c?gi=6f20be4118f2#.59gva04l6?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">here</a> and help them reach their goal!</p>

<p><a href="https://opencollective.com/sfartandfilm?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">SF Art and Film</a> has been connecting teenagers with the arts for many years and asks you to support them in this goal of making the arts a vital presence in the lives of young people and your extraordinary generosity is what makes it possible.</p>

<p>Welcome <a href="https://opencollective.com/opensourcedesign?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">Open Source Design</a>! We are thrilled to have you on board our first design collective. Do you care about design in open source? 👉You can now fund it!</p>

<p>🎉Congrats <a href="https://twitter.com/mxstbr">Max Stoiber</a> from <a href="https://opencollective.com/react-boilerplate?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">React Boilerplate</a> for being <a href="https://twitter.com/mxstbr/status/795555176203620353?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">featured on Forbes Austria</a> about your Open Source work!  </p>

<h2>Changelog</h2>
<p>You can now add a widget to your company or personal website to show the collectives that you are supporting. Simply add the following line of code:</p> <p><code>&lt;script src="https://opencollective.com/:username/widget.js"&gt;&lt;/script&gt;</code></p>
<p>This is how it looks: <img src="https://cl.ly/1J0Q300v2T12/Screen%20Shot%202016-12-01%20at%204.23.41%20PM.png" width="100%" /></p>
</ul>

<h2>Don't forget</h2>
<ul>
  <li><b>Twitter</b> You can link your collective to your twitter account to automatically thank your backers/sponsors. <a href="{{group.publicUrl}}/connect/twitter?utm_source=opencollective&utm_campaign=monthlyreport&utm_medium=email">Deets here</a> (it's still a bit ugly but it works!)</li>
  <li><b>Slack</b> Don't forget to send Pia (pia@opencollective.com) your slack webhook url if you'd like to receive notifications for new donations/expenses in your slack channel.</li>
</ul>

</div>

{{> footer}}