Subject: Platform {{month}} {{year}} Report

{{> header}}

<style>
.counter {
  font-size: 36px;
  color: #7FADF2;
}
.delta {
  color: #7A7B82;
}
.reimbursed {
  color: #7A7B82;
}
th {
  padding: 10px;
  font-weight: normal;
  font-size: 14px;
  color: #7A7B82;
  vertical-align: top;
}
.muted {
  color: #555;
  font-size: 12px;
}
.CREDIT {
  color: #66C71A;
}
.DEBIT {
  color: red;
}
.small-table th, .small-table td {
  font-size: 12px;
}
td p.muted {
  margin: 0;
}
</style>

<div style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
  Donations: {{{currency platformStats.deltaPlatformDonations.totalInHostCurrency currency='USD' sign=true}}} //  
  Paid expenses: {{{currency platformStats.deltaAmountPaidExpenses.totalInHostCurrency currency='USD' sign=true}}} //
  Host fees: {{{currency platformStats.deltaHostFees.totalInHostCurrency currency='USD' sign=true}}} //  
  Hosts: {{{number totalHosts}}} ({{{number totalActiveHosts}}} active) //
  Collectives: {{{number totalCollectives}}} ({{{number totalActiveCollectives}}} active) //
  Transactions: {{{number numberTransactions}}} ({{{number numberDonations}}} donations, {{{number numberPaidExpenses}}} expenses paid) //
</div>

<table>
  <tr><td>Hosts:</td><td width=20></td><td>{{{number totalHosts}}} ({{{number totalActiveHosts}}} active)</td></tr>
  <tr><td>Collectives:</td><td></td><td>{{{number totalCollectives}}} ({{{number totalActiveCollectives}}} active)</td></tr>
  <tr><td>Backers:</td><td></td><td>{{{number platformStats.backers.total}}} ({{{number platformStats.backers.new}}} new, {{{number platformStats.backers.repeat}}} repeat, {{{number platformStats.backers.inactive}}} inactive)</td></tr>
  <tr><td colspan=3 height=10></td></tr>
  <tr><td>Transactions:</td><td></td><td>{{{number numberTransactions}}} ({{{ number numberDonations}}} {{{pluralize "donation" n=numberDonations}}}, {{{number numberPaidExpenses}}} {{{pluralize "expense" n=numberPaidExpenses}}} paid)</td></tr>
  <tr><td>Donations (platform):</td><td></td><td>{{{currency platformStats.totalPlatformDonations.totalInHostCurrency currency='USD'}}} ({{{currency platformStats.deltaPlatformDonations.totalInHostCurrency currency='USD' sign=true}}})</td></tr>
  <tr><td>Donations (external funds):</td><td></td><td>{{{currency platformStats.totalAddFunds.totalInHostCurrency currency='USD'}}} ({{{currency platformStats.deltaAddFunds.totalInHostCurrency currency='USD' sign=true}}})</td></tr>
  <tr><td>Paid Expenses:</td><td></td><td>{{{currency platformStats.totalAmountPaidExpenses.totalInHostCurrency currency='USD'}}} ({{{currency platformStats.deltaAmountPaidExpenses.totalInHostCurrency currency='USD' sign=true}}})</td></tr>
  <tr><td colspan=3 height=10></td></tr>
  <tr><td>Hosts fees:</td><td></td><td>{{{currency platformStats.totalHostFees.totalInHostCurrency currency='USD'}}} ({{{currency platformStats.deltaHostFees.totalInHostCurrency currency='USD' sign=true}}})</td></tr>
  <tr><td>Payment Processor Fees:</td><td></td><td>{{{currency platformStats.totalPaymentProcessorFees.totalInHostCurrency currency='USD'}}} ({{{currency platformStats.deltaPaymentProcessorFees.totalInHostCurrency currency='USD' sign=true}}})</td></tr>
  <tr><td>Platform fees:</td><td></td><td>{{{currency platformStats.totalPlatformFees.totalInHostCurrency currency='USD'}}} ({{{currency platformStats.deltaPlatformFees.totalInHostCurrency currency='USD' sign=true}}})</td></tr>
  <tr><td colspan=3 height=10></td></tr>
  <tr><td>Total Hosts Balance:</td><td></td><td>{{{currency platformStats.totalHostBalance.totalInHostCurrency currency='USD'}}} ({{{currency platformStats.deltaHostBalance.totalInHostCurrency currency='USD' sign=true}}})</td></tr>
</table>

<br /><br />
<hr />
<br /><br />

<table class="small-table">
  <tr>
    <td></td>
    <th>balance</th>
    <th>collectives<br />(active)</th>
    <th>backers<br />(new/repeat)</th>
    <th>donations</th>
    <th>paid<br />expenses</th>
  </tr>
{{#each hosts}}
<tr>
  <td><a href="https://opencollective.com/{{host.slug}}">{{host.slug}}</a></td>
  <td align="center">{{{currency stats.balance.totalInHostCurrency currency=host.currency}}}</td>
  <td align="center">{{{number stats.totalCollectives}}}<br /><p class="muted">({{{number stats.totalActiveCollectives}}})</p></td>
  <td align="center">{{{number stats.backers.total}}}<br /><p class="muted">({{{number stats.backers.new}}}/{{{number stats.backers.repeat}}})</p></td>
  <td align="center">{{{currency stats.totalAmountDonations.totalInHostCurrency currency=host.currency sign=true}}}</td>
  <td align="center">{{{currency stats.totalAmountPaidExpenses.totalInHostCurrency currency=host.currency}}}</td>
</tr>
{{/each}}
</table>

<br /><br />
<hr />
<br /><br />

<p class="muted">Time elapsed: {{timeLapsed}}s</p>

{{> footer}}
