Subject: Invitation to join {{collective.name}}

{{> header}}

{{#if memberCollective.name}}
<p>Dear {{memberCollective.name}},</p>
{{else}}
<p>Hi,</p>
{{/if}}

<p>
  <a href="{{config.host.website}}/{{invitedByUser.collective.slug}}">{{invitedByUser.collective.name}}</a> just invited you to join <a href="{{config.host.website}}/{{collective.slug}}">{{collective.name}}</a>
  with the role "<strong>{{role}}</strong>".
</p>
<br />
<p>
Click on the button below to accept or decline the invitation:
</p>

<br />
<a class="btn blue" href="{{config.host.website}}/member-invitations#invitation-{{invitation.id}}">
  <div style="font-size: 15px;">View invitation</div>
</a>