Subject: {{#if instructions}}ACTION REQUIRED:{{/if}} your {{{currency order.totalAmount
currency=order.currency}}} {{order.type}} to {{collective.name}} is pending

<style>
  code {
    display: inline-block;
    border: 1px solid #ccc;
    background: #ddd;
    padding: 1px 3px;
    margin: 0px 1px;
  }
</style>

{{> header}}

{{> toplogo}}

{{#if fromCollective.name}}
<p>Dear {{fromCollective.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

<p>We would like to thank you for your donation of {{{currency order.totalAmount currency=order.currency}}} on
  {{{moment order.createdAt}}}. Your order is currently pending - we'll let you know once the host of collective (<a
    href="https://opencollective.com/{{host.slug}}">{{host.name}}</a>) will have received
  the funds and attributed them to {{collective.name}}.</p>

{{#if instructions}}
<section>
  <h2>Instructions</h2>
  <p>{{instructions}}</p>
</section>
{{/if}}

<p>In the meantime, you can follow the collective and how it is spending the money on its Open Collective page:
  <a href="https://opencollective.com/{{collective.slug}}">https://opencollective.com/{{collective.slug}}</a>.
</p>


{{#if fromCollective.isIncognito}}
{{else}}
<h2>Help us raise more money!</h2>
<p>Share this URL: <a
    href="https://opencollective.com/{{collective.slug}}/donate">https://opencollective.com/{{collective.slug}}/donate</a>
</p>
{{/if}}

<p>Warmly,</p>

<p>
  – The {{collective.name}} open collective
</p>

{{#if recommendedCollectives.length}}
{{> recommendedcollectives}}
{{else if relatedCollectives.length}}
{{> relatedcollectives}}
{{/if}}

{{> footer}}
