Subject: Your Organization on Open Collective

{{> header}}

<style>
  .cover {
    background: url('{{config.host.website}}/static/images/email/confetti.png') no-repeat center center;
    text-align: center;
  }
</style>


<div class="cover">

  <img src="{{config.host.website}}/static/images/email/welcome.png" />

  <h1>Welcome {{collective.name}},</h1>

  <h2>Discover what Open Collective can do for your organization</h2>

</div>


<p>Thanks for setting up an Organization! Here are some of the cool things you can do now.</p>

<p><b>Contribute As</b>: When you contribute to a Collective, you’ll see options to contribute as yourself (backer) or
  as your Organization (sponsor). </p>

<p><b>Gift Cards</b>: Give the gift of giving! Gift Cards enable your employees, recruitment candidates, or ambassadors
  to support the projects they care about, on behalf of your Organization. <a
    href="https://opencollective.com/gift-cards">More info</a>.</p>

<p><b>Bulk Contributions</b>: Transfer funds to Open Collective and we’ll add them to your Organization’s budget on the
  platform, so you can allocate them to Collectives. One invoice, one wire, one purchase order! Just hit reply and let
  us know if you’d like to set this up.</p>

<p><b>Employee Donations</b>: Save a credit card on file and enable members of your organization to donate up to a
  certain amount per month.</p>

<p><b>Subscription management</b>: You can edit or cancel recurring contributions <a
    href="https://opencollective.com/{{collective.slug}}/subscriptions">here</a>.</p>

<p><b>Invoices</b>: Get documentation of aggregated or individual transactions <a
    href="https://opencollective.com/{{collective.slug}}/transactions">here</a>.</p>

<p><b>Back Your Stack</b>: Use <a href="https://backyourstack.com">this tool</a> to discover your company’s open source
  dependencies, and support them on Open Collective. </p>

<p>More questions? See our <a href="https://docs.opencollective.com/help/financial-contributors/financial-contributors">Financial Contributors
    FAQ</a> or shoot us a message by replying to this email or on <a href="https://slack.opencollective.com">Slack</a>.
</p>

<p></p>
{{> footer}}
