Subject: {{remoteUser.collective.name}} added you with the role "{{role}}" to {{collective.name}} {{collective.type}} on Open Collective

{{> header}}

{{> toplogo}}

{{#if recipient.collective.name}}
<p>{{recipient.collective.name}},</p>
{{else}}
<p>Hi,</p>
{{/if}}

<p>Just a quick note to let you know that {{remoteUser.collective.name}} (cced) added you with the role "{{role}}" to <a href="https://opencollective.com/{{collective.slug}}">{{collective.name}} {{collective.type}}</a> on Open Collective.</p>

{{#if isAdmin }}
<p>As an administrator, you can edit the profile of the organization and add or remove members. You can do so on https://opencollective.com/{{collective.slug}}/edit.</p>
{{else}}
<p>You are now listed as a member of the organization on https://opencollective.com/{{collective.slug}}.</p>
{{/if}}

<h2>Your current profile details are:</h2>

<table>
  {{#if recipient.collective.previewImage}}
    <tr><th>Avatar:</th><td><img src="{{recipient.collective.previewImage}}" height="64" /></td></tr>
  {{else}}
  <tr><th>Avatar:</th><td>No avatar</td></tr>
  {{/if}}
  <tr><th>Name:</th><td>{{recipient.collective.name}}</td></tr>
  <tr><th>Short description:</th><td>{{recipient.collective.description}}</td></tr>
  <tr><th>Website:</th><td>{{recipient.collective.website}}</td></tr>
  <tr><th>Twitter:</th><td>{{recipient.collective.twitterHandle}}</td></tr>
</table>

<p>You can login and edit your profile by <a href="{{loginLink}}">clicking here</a></p>

<p>If you have questions about Open Collective, feel free to reply to this email.</p>

{{> footer}}