{{#if lastAttempt}}
Subject: Payment failed: Subscription cancelled to {{collective.name}}
{{else}}
Subject: Payment failed: Update your info to continue supporting {{collective.name}}
{{/if}}

{{> header}}

{{> toplogo}}

{{#if fromCollective.name}}
<p>Dear {{fromCollective.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

{{#if lastAttempt}}
<p>We wanted to let you know that due to your payment failure, we have cancelled your subscription of
{{{currency order.totalAmount currency=order.currency}}} to {{collective.name}}.

We are sad to see you go. You can resubscribe anytime at <a href="https://opencollective.com/{{collective.slug}}">https://opencollective.com/{{collective.slug}}</a>.</p>
{{else}}
<p>We are having trouble authorizing your payment of {{{currency order.totalAmount currency=order.currency}}} to {{collective.name}}.</p>

<p>Please check your <a href="{{subscriptionsLink}}">subscriptions and payment info</a>.</p>

<p>We'll automatically retry your payment in a few days. If you believe your payment info is correct, please contact your bank for more details.</p>
{{/if}}

<p>If you have questions, you can always email us at <a href="mailto:support@opencollective.com?Subject=Payment%20issue">support@opencollective.com</a>.</p>

<p>Warmly,</p>

<p>
  – Team Open Collective
</p>

{{> footer}}

<p style="text-align:center;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:12px;color:#999;">
OpenCollective, Inc.<br />
EIN: 47-3896707<br />
340 S LEMON AVE #3717<br />
Walnut CA 91789<br />
USA
</p>