Subject: Payment requires your action: confirm your credit card to continue supporting {{collective.name}}

{{> header}}

{{> toplogo}}

{{#if fromCollective.name}}
<p>Dear {{fromCollective.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

<p>To comply with new regulations in the EU we are required to confirm your credit card to process your payment of {{{currency order.totalAmount currency=order.currency}}} to {{collective.name}}.</p>

<p>Please <a href="{{confirmOrderLink}}">confirm your credit card now to continue with this payment</a>.</p>

<p>If you have questions, you can always email us at <a href="mailto:support@opencollective.com?Subject=Payment%20issue">support@opencollective.com</a>.</p>

<p>Warmly,</p>

<p>
  – Team Open Collective
</p>

{{> footer}}

<p style="text-align:center;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:12px;color:#999;">
OpenCollective, Inc.<br />
EIN: 47-3896707<br />
340 S LEMON AVE #3717<br />
Walnut CA 91789<br />
USA
</p>
