Subject: Subscription canceled to {{collective.name}}

{{> header}}

{{> toplogo}}

{{#if fromCollective.name}}
<p>Dear {{fromCollective.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

<p>We wanted to confirm that your subscription to {{collective.name}} (cced) for {{{currency subscription.amount currency=subscription.currency}}}/{{subscription.interval}} has been canceled.</p>

<p>We are sad 😞 to see you go. If you have any feedback about your experience - good, bad, or ugly - we want to hear about it. Just hit 'reply all' and type away.</p>
 
<p>Warmly,</p>

<p>
  – The {{collective.name}} open collective
</p>

{{> relatedcollectives}}

{{> footer}}