{{#if interval }}
Subject: Merci pour votre donation de {{{currency order.totalAmount currency=order.currency}}}/{{interval}} à {{collective.name}}
{{else}}
Subject: Merci pour votre donation de {{{currency order.totalAmount currency=order.currency}}} à {{collective.name}}
{{/if}}

{{> header}}

{{> toplogo}}

{{#if fromCollective.name}}
<p>Merci beaucoup {{fromCollective.name}} !</p>
{{else}}
<p>Hi!</p>
{{/if}}

{{#if interval}}
<p>Nous venons de recevoir votre donation 1ère donation récurrente de {{{currency order.totalAmount currency=order.currency}}} par {{interval}}. Merci énormément pour votre engagement à nous aider dans la durée, votre don nous sera précieux pour faire de LaPrimaire.org un succès !</p>
{{else}}
<p>Merci pour votre donation de {{{currency order.totalAmount currency=order.currency}}}.
  Votre don nous aidera à continuer nos activités.</p>
{{/if}}
<p>Pour suivre l'utilisation qui est faite de votre argent, nous tenons des comptes transparents que vous pouvez consulter ici : <a href="https://laprimaire.org/transparence/">https://laprimaire.org/transparence/</a> (et très bientôt ici : <a href="https://opencollective.com/laprimaire">https://opencollective.com/laprimaire</a>).</p>

{{#if subscriptionsLink}}
  <p>
    Vous pouvez modifier ou annuler votre donation quand vous le souhaitez <a href="{{subscriptionsLink}}">ici</a>.
  </p>
{{/if}}

<p>Encore merci, votre preuve de confiance nous encourage et nous motive pour ne rien lacher et aller jusqu'au bout !</p>

<p>
  – L'équipe {{collective.name}}
</p>

{{> footer}}
