{{#if interval }}
Subject: Thank you for your {{{currency order.amount currency=order.currency}}}/{{interval}} donation to {{collective.name}}
{{else}}
Subject: Thank you for your {{{currency order.amount currency=order.currency}}} donation to {{collective.name}}
{{/if}}

{{> header}}

{{> toplogo}}

{{#if user.name}}
<p>Dear {{user.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

{{#if interval}}
  {{#if firstPayment }}
    <p>We would like to thank you for your pledge to give {{{currency order.amount currency=order.currency}}} per {{interval}}.
      Your first payment was received on {{{moment order.createdAt}}}. Your donation helps us continue our activities.</p>
      {{> charge_date_notice}}
  {{else}}
    <p>We would like to thank you for your continued support. Your latest {{interval}}ly donation of {{{currency order.amount currency=order.currency}}} was received on {{{moment transaction.createdAt}}}.
      Your donation helps us continue our activities.</p>
  {{/if}}
{{else}}
<p>We would like to thank you for your donation of {{{currency order.amount currency=order.currency}}} on {{{moment order.createdAt}}}.
  Your gift will help us continue our activities.</p>
{{/if}}

<p>You can follow our future activities and how we will be spending the money on our open collective page:
  <a href="https://opencollective.com/{{collective.slug}}">https://opencollective.com/{{collective.slug}}</a>.
</p>

{{> subscriptions}}

<p>P.S: You can download a receipt for your donation in PDF <a href="{{config.host.website}}/{{collective.slug}}/transactions/{{transaction.uuid}}/invoice.pdf">here</a></p>

<p>Warmly,</p>

<p>
  – The {{collective.name}} open collective
</p>

{{> relatedcollectives}}

{{> footer}}

<p style="text-align:center;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:12px;color:#999;">
OpenCollective, Inc.<br />
EIN: 47-3896707<br />
340 S LEMON AVE #3717<br />
Walnut CA 91789<br />
USA
</p>