{{#if interval }}
Subject: Thank you for your {{{currency order.totalAmount currency=order.currency}}}/{{interval}} contribution to {{collective.name}}
{{else}}
Subject: Thank you for your {{{currency order.totalAmount currency=order.currency}}} contribution to {{collective.name}}
{{/if}}

{{> header}}

{{> toplogo}}

{{#if fromCollective.name}}
<p>Dear {{fromCollective.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

{{#if interval}}
  {{#if firstPayment }}
    <p>We want to thank you for your contribution of {{{currency order.totalAmount currency=order.currency}}} per {{interval}} to San Francisco Art & Film for Teenagers.
      Your first payment was received on {{{moment order.createdAt}}}.</p>
    {{> charge_date_notice }}
  {{else}}
    <p>We would like to thank you for your continued support. Your latest {{interval}}ly contribution of {{{currency order.totalAmount currency=order.currency}}} was received on {{{moment transaction.createdAt}}}.</p>
  {{/if}}
{{else}}
<p>We would like to thank you for your contribution of {{{currency order.totalAmount currency=order.currency}}} on {{{moment order.createdAt}}}.</p>
{{/if}}

<p>SF Art & Film remains steadfast in its goal of making the arts a vital presence in the lives of young people and your extraordinary generosity is what makes it possible. We hope you’ll continue to introduce people like yourself—people who understand the importance of art education—to our program.</p>
<p>We greatly appreciate your support.</p>
<p>You can follow our future activities and how we will be spending the money on our open collective page:
<a href="https://opencollective.com/{{collective.slug}}">https://opencollective.com/{{collective.slug}}</a>.
</p>

<p>Many Thanks,</p>

<p>
  Ronald Chase
  Director
  San Francisco Art & Film for Teenagers
</p>
<p>Your contribution is tax-deductible to the extent allowed by law. You may save this receipt for your records. San Francisco Art & Film for Teenagers is a qualified non-profit organization with 501-C status, tax ID: 94-3310464.</p>

<p>
  P.S: You can download a PDF receipt for your contribution <a href="{{config.host.website}}/{{fromCollective.slug}}/transactions">on your transactions page</a>{{#if subscriptionsLink}}, and you can manage your subscriptions <a href="{{subscriptionsLink}}">here</a>{{/if}}.
</p>

{{> relatedcollectives}}

{{> footer}}

<p style="text-align:center;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:12px;color:#999;">
OpenCollective, Inc.<br />
EIN: 47-3896707<br />
340 S LEMON AVE #3717<br />
Walnut CA 91789<br />
USA
</p>
