Subject: Thank you for your {{{currency donation.amount currency=donation.currency}}} donation to {{group.name}}

{{> header}}

<center>
  <img src="http://photos2.meetupstatic.com/photos/event/b/9/8/e/highres_431687502.jpeg" width="250" />
  <h3 style="margin-top:0;">{{group.name}}</h3>
</center>

{{#if user.name}}
<p>{{user.name}},</p>
{{else}}
<p>Hi,</p>
{{/if}}
<p>I would like to thank you for your donation of {{{currency donation.amount currency=donation.currency}}} on {{{moment donation.createdAt}}}. Your generous gift exponentially impacts the programs we offer to empower women to pursue careers in the technology sector.</p>

<p>With your support, we are able to provide a free professional community for women in tech which aides and supports their success. In addition, your donation positively fuels our growth, development, and goal of connecting one million in technology careers.</p>

<p>On behalf of the Women Who Code Board of Executives, our leadership team, and our members worldwide I thank you for furthering our mission and supporting our community of women in tech. We appreciate and value your contribution and continued support.</p>

{{> subscriptions}}

<p>Warmly,</p>

<p>
  Alaina Percival<br />
  Chief Executive Officer & Board Chair<br />
  Women Who Code, Inc.<br />
  EIN: 46 – 4218859
</p>

{{> footer}}
