{{#if interval }}
Subject: Thank you for your {{{currency donation.amount currency=donation.currency}}}/{{interval}} contribution to {{group.name}}
{{else}}
Subject: Thank you for your {{{currency donation.amount currency=donation.currency}}} contribution to {{group.name}}
{{/if}}

{{> header}}

{{> toplogo}}

{{#if fromCollective.name}}
<p>Dear {{fromCollective.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

{{#if interval}}
  {{#if firstPayment }}
    <p>We would like to thank you for your pledge to give {{{currency donation.amount currency=donation.currency}}} per {{interval}}.
      Your first payment was received on {{{moment donation.createdAt}}}. Your contribution helps us continue our activities.</p>
      {{> charge_date_notice}}
  {{else}}
    <p>We would like to thank you for your continued support. Your latest {{interval}}ly contribution of {{{currency donation.amount currency=donation.currency}}} was received on {{{moment transaction.createdAt}}}.
      Your contribution helps us continue our activities.</p>
  {{/if}}
{{else}}
<p>We would like to thank you for your contribution of {{{currency donation.amount currency=donation.currency}}} on {{{moment donation.createdAt}}}.
  Your gift will help us continue our activities.</p>
{{/if}}

<p>You can follow our future activities and how we will be spending the money on our open collective page:
  <a href="https://opencollective.com/{{group.slug}}">https://opencollective.com/{{group.slug}}</a>.
</p>

<p>
  P.S: You can download a PDF receipt for your contribution <a href="{{config.host.website}}/{{fromCollective.slug}}/transactions">on your transactions page</a>{{#if subscriptionsLink}}, and you can manage your subscriptions <a href="{{subscriptionsLink}}">here</a>{{/if}}.
</p>

<p>Warmly,</p>

<p>
  – The {{group.name}} open collective
</p>

<p>Follow us on <a href="https://twitter.com/kendraio">twitter</a></p> or join us on <a href="https://slack.kendra.io/">slack</a></p>
<p>Kendraio ( https://www.kendra.io ) is hosted by:
Kendra Foundation (company number 4643358)
Registered (non-postal) address:
27 Old Gloucester Street
London
WC1N 3AX
United Kingdom
</p>

{{> relatedgroups}}

{{> footer}}

<p style="text-align:center;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:12px;color:#999;">
OpenCollective, Inc.<br />
EIN: 47-3896707<br />
340 S LEMON AVE #3717<br />
Walnut CA 91789<br />
USA
</p>
