{{#if interval }}
Subject: Merci pour votre donation de {{{currency donation.amount currency=donation.currency}}}/{{interval}} à {{group.name}}
{{else}}
Subject: Merci pour votre donation de {{{currency donation.amount currency=donation.currency}}} à {{group.name}}
{{/if}}

{{> header}}

{{#if logoNotSvg }}
<center>
  <img src="https://res.cloudinary.com/opencollective/image/fetch/w_80/{{encodeURIComponent group.logo}}" style="border-radius: 50%;" width="80" height="80" />
</center>
{{/if}}

{{#if user.name}}
<p>{{user.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

{{#if interval}}
<p>Merci pour votre donation de {{{currency donation.amount currency=donation.currency}}} par {{interval}}. Votre premier paiement vient d'être reçu. Votre don nous aidera à continuer nos activités.</p>
{{else}}
<p>Merci pour votre donation de {{{currency donation.amount currency=donation.currency}}}.
  Votre don nous aidera à continuer nos activités.</p>
{{/if}}

<p>Vous pouvez suivre nos prochaines activités et comment on va utiliser l'argent recolté sur notre page OpenCollective:
  <a href="https://opencollective.com/{{group.slug}}">https://opencollective.com/{{group.slug}}</a>.
</p>

{{#if subscriptionsLink}}
  <p>
    Vous pouvez modifier ou annuler vos abonnements quand vous le souhaitez <a href="{{subscriptionsLink}}">ici</a>.
  </p>
{{/if}}

<p>Encore merci et gros bisous de nous tous! 😘,</p>

<p>
  – Le collectif {{group.name}}
</p>

{{> footer}}