{{#if interval }}
Subject: Thank you for your {{{currency order.totalAmount currency=order.currency}}}/{{interval}} contribution to {{collective.name}}
{{else}}
Subject: Thank you for your {{{currency order.totalAmount currency=order.currency}}} contribution to {{collective.name}}
{{/if}}

{{> header}}

{{> toplogo}}

{{#if fromCollective.name}}
<p>Dear {{fromCollective.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

{{#if interval}}
	<p>We would like to thank you for your pledge to give {{{currency order.totalAmount currency=order.currency}}} per {{interval}}. Your first payment was received on {{{moment order.createdAt}}}. Your gift will help us continue our activities.</p>
{{else}}
	<p>We would like to thank you for your contribution of {{{currency order.totalAmount currency=order.currency}}} on {{{moment transaction.createdAt}}}.
  Your gift will help us continue our activities.</p>
{{/if}}

<p>Please register for the event with John Poulsen before March the 20th: <a href="https://www.eventbrite.com.au/e/ispc-wa-networking-event-with-john-poulsen-registration-21584720480">https://www.eventbrite.com.au/e/ispc-wa-networking-event-with-john-poulsen-registration-21584720480</a></p>

<p>You can follow our future activities and how we will be spending the money on our open collective page:
  <a href="https://opencollective.com/{{collective.slug}}">https://opencollective.com/{{collective.slug}}</a>.

<p>
  P.S: You can download a PDF receipt for your contribution <a href="{{config.host.website}}/{{fromCollective.slug}}/transactions">on your transactions page</a>{{#if subscriptionsLink}}, and you can manage your subscriptions <a href="{{subscriptionsLink}}">here</a>{{/if}}.
</p>

<p>Warmly,</p>

<p>
  – The {{collective.name}} open collective
</p>

{{> footer}}
