{{#if interval }}
Subject: Thank you for your {{{currency donation.amount currency=donation.currency}}}/{{interval}} donation to {{group.name}}
{{else}}
Subject: Thank you for your {{{currency donation.amount currency=donation.currency}}} donation to {{group.name}}
{{/if}}

{{> header}}

<center>
  <img src="http://photos2.meetupstatic.com/photos/event/b/9/8/e/highres_431687502.jpeg" width="250" />
  <h3 style="margin-top:0;">{{group.name}}</h3>
</center>

{{#if user.name}}
<p>{{user.name}},</p>
{{else}}
<p>Hi,</p>
{{/if}}

{{#if interval}}
<p>I would like to thank you for your pledge to give {{{currency donation.amount currency=donation.currency}}} per {{interval}} on {{{moment donation.createdAt}}}. Your generous gift helps us promote, inspire, and advance more women leaders in tech.</p>
{{else}}
<p>I would like to thank you for your donation of {{{currency donation.amount currency=donation.currency}}} on {{{moment donation.createdAt}}}. Your generous gift helps us promote, inspire, and advance more women leaders in tech.</p>
{{/if}}

<p>With your support, we are able to extend our program reach. Through this, we are able to provide an avenue into tech, empower women with skills needed for professional advancement, and provide environments where networking and mentorship are valued.</p>

<p>On behalf of the Women Who Code Board of Executives, our leadership team, and our members worldwide, thank you for furthering our mission. We appreciate and value your contribution and continued support of our community.</p>


<p>Warmly,</p>

<p>
  Alaina Percival<br />
  Chief Executive Officer & Board Chair<br />
  Women Who Code, Inc.<br />
  EIN: 46 – 4218859
</p>

<p>Your contribution is tax-deductible to the extent allowed by law. You may save or print this receipt for your records. This email certifies that you have made this donation as a charitable contribution and you are not receiving any goods or services in return. This receipt may be useful to you when completing your tax return. Women Who Code, registered 501(c)3 Nonprofit TAX ID: 46-4218859. </p>

{{> subscriptions}}

{{> footer}}
