{{#if interval }}
Subject: Merci pour votre donation de {{{currency order.totalAmount currency=order.currency}}}/{{interval}} à {{collective.name}}
{{else}}
Subject: Merci pour votre donation de {{{currency order.totalAmount currency=order.currency}}} à {{collective.name}}
{{/if}}

{{> header}}

{{> toplogo}}

{{#if user.name}}
<p>{{user.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

{{#if interval}}
<p>Merci pour votre donation de {{{currency order.totalAmount currency=order.currency}}} par {{interval}}. Votre premier paiement vient d'être reçu. Votre don nous aidera à continuer nos activités.</p>

<p>Veuillez noter que vos futurs paiements seront effectués au premier du mois. <a href='https://opencollective.com/faq#charge-date-notice'>Pourquoi?</a></p>

{{else}}
<p>Merci pour votre donation de {{{currency order.totalAmount currency=order.currency}}}.
  Votre don nous aidera à continuer nos activités.</p>
{{/if}}

<p>Vous pouvez suivre nos prochaines activités et comment on va utiliser l'argent recolté sur notre page OpenCollective:
  <a href="https://opencollective.com/{{collective.slug}}">https://opencollective.com/{{collective.slug}}</a>.
</p>

{{#if subscriptionsLink}}
  <p>
    Vous pouvez modifier ou annuler vos abonnements quand vous le souhaitez <a href="{{subscriptionsLink}}">ici</a>.
  </p>
{{/if}}

<p>Encore merci et gros bisous de nous tous! 😘,</p>

<p>
  – Le collectif {{collective.name}}
</p>

{{> footer}}