Subject: {{ order.quantity }} {{{pluralize "ticket" n=order.quantity}}} confirmed for {{ collective.name }}

{{> header}}

{{> toplogo}}

{{#if recipient.name}}
<p>Dear {{recipient.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

<p>We are excited that you'll be joining us at {{ collective.name }} on {{ moment collective.startsAt timezone=collective.timezone format="MMMM Do YYYY" }} at {{ collective.locationName }} ({{collective.address}}). The event starts at {{ moment collective.startsAt timezone=collective.timezone format="h:mma" }}.</p>

<p>This confirms your {{ order.quantity }} {{{pluralize "ticket" n=order.quantity}}}{{#if donation}} for a total of {{{currency order.totalAmount currency=order.currency}}}{{/if}}. </p>

<p>Warmly,</p>

<p>
  – The {{collective.name}} organizers
</p>

<script type="application/ld+json">
    {
      "@context":              "http://schema.org",
      "@type":                 "EventReservation",
      "reservationNumber":     "{{order.id}}",
      "reservationStatus":     "http://schema.org/Confirmed",
      "numSeats":              "{{order.quantity}}",
      "underName": {
        "@type":               "Person",
        "name":                "{{recipient.name}}"
      },
      "reservationFor": {
        "@type":               "Event",
        "name":                "{{collective.name}}",
        "startDate":           "{{collective.startsAt}}",
        "endDate":             "{{collective.endsAt}}",
        "location": {
          "@type":             "Place",
          "name":              "{{collective.locationName}}",
          "address": {
            "@type":           "PostalAddress",
            "streetAddress":   "{{collective.address}}",
            "addressLocality": "",
            "addressRegion":   "",
            "postalCode":      "",
            "addressCountry":  ""
          }
        }
      }
    }
</script>

{{> footer}}
