Subject: {{ response.quantity }} {{{pluralize "ticket" n=response.quantity}}} confirmed for {{ event.name }}

{{> header}}

{{> toplogo}}

{{#if user.name}}
<p>Dear {{user.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

<p>We are excited that you'll be joining us at {{ event.name }} on {{ moment event.startsAt timezone=event.timezone format="MMMM Do YYYY" }} at {{ event.locationName }} ({{event.address}}). The event starts at {{ moment event.startsAt timezone=event.timezone format="h:mma" }}.</p>

<p>This confirms your {{ response.quantity }} {{{pluralize "ticket" n=response.quantity}}}{{#if donation}} for a total of {{{currency donation.amount currency=donation.currency}}}{{/if}}. </p>

<p>In case you didn't know, we manage our budget transparently. You can follow our future activities and how we will be spending this money on our open collective page:
  <a href="https://opencollective.com/{{collective.slug}}?{{utm}}">https://opencollective.com/{{collective.slug}}</a>.
</p>

{{> subscriptions}}

<p>Warmly,</p>

<p>
  – The {{collective.name}} open collective
</p>

{{> footer}}
