Subject: {{ response.quantity }} {{{pluralize "ticket" n=response.quantity}}} confirmed for {{ event.name }}

{{> header}}
{{> eventsnippet}}
{{> toplogo}}

{{#if recipient.name}}
<p>Dear {{recipient.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

<p>We are excited that you'll be joining us at <a href="https://sustainoss.org">{{ event.name }}</a> on {{ moment event.startsAt timezone=event.timezone format="MMMM Do YYYY" }} at {{ event.locationName }}. The event starts at {{ moment event.startsAt timezone=event.timezone format="h:mma" }}.</p>

<p>This confirms your {{ response.quantity }} {{{pluralize "ticket" n=response.quantity}}}{{#if donation}} for a total of {{{currency order.totalAmount currency=order.currency}}}{{/if}}. This is a collaborative conversation and we'd like to share creating the content with you. You will soon receive an email from Gunner from AspirationTech who is facilitating the day. Thank you so much for being part of the first SustainOSS Conversation!</p>

<p>Next steps:
<ul>
  <li>Follow us on <a href="https://twitter.com/sustainoss">Twitter</a></li>
  <li>Open Source with us on <a href="https://github.com/sustainers">GitHub</a></li>
  <li><a href="https://slack.changelog.com">Slack</a> with us</li>
  <li>You can follow our activities and how we will be spending the money on our open collective page:
  <a href="https://opencollective.com/{{event.slug}}">https://opencollective.com/{{event.slug}}</a></li>
 </p>
 
 <p>If you have any questions feel free to contact us:<br />
 Justin Dorfman: jdorfman@stickermule.com<br />
 Pía Mancini: pia@opencollective.com<br />
 Eric Berry: eric@codefund.io<br/>
 Ben Nickolls: ben@octobox.io
 </p>

{{#if transaction}}
<p>
  P.S: You can download a PDF receipt for your donation <a href="{{config.host.website}}/{{event.slug}}/transactions/{{transaction.uuid}}/invoice.pdf">here</a>{{#if subscriptionsLink}}, and you can manage your subscriptions <a href="{{subscriptionsLink}}">here</a>{{/if}}.
</p>
{{/if}}

<p>Warmly,</p>

<p>
  – The {{event.name}} open collective
</p>

{{> eventdata}}

{{> footer}}
